[2020-07-13 19:14] mark-a-potts opened #9 "DA libs do not work with GSI"
My understanding of how the dynamic allocation build of bufrlib is supposed to work is that if the sizing of the bufr is not specified, it defaults to the size used for the static allocation. This should make it possible to swap an SA library for a DA version. Unfortunately, this does not seem to work with the GSI using either the old makefile build system or the just completed CMake build system.

[2020-07-13 20:41] jbathegit commented on #9
Hi Mark - can you provide some more details, like what error message(s) you're seeing?  Also, what operating system are you working on?

[2020-07-13 21:44] mark-a-potts commented on #9
Here is where the error gets thrown in the stdout of the first regression test for GSI on Hera--

================================================================================
 in mbuoy_info,n_comps =          3 n_scripps =         40 n_triton =         70 n_3mdiscus =        153
 in mbuoyb_info,n_comps =          3 n_scripps =         40 n_triton =         70 n_3mdiscus =        153
  in read_

[2020-07-13 22:23] mark-a-potts commented on #9
This should work on wcoss (dells) as well. Make sure to run a "module purge; module use path-to-GSI/modulefiles; module load modulefile.ProdGSI.wcoss_d" before running "ctest -I 1,1".

The output from the test will be in /gpfs/dell2/ptmp/$LOGNAME/$ptmpName/_gpfs_dell2_emc_modeling_noscrub_Mark.Potts_G2_build/tmpreg_global_T62/global_T62_loproc_updat/stdout

[2020-07-14 14:45] jbathegit commented on #9
For some reason, I wasn't able to clone the above repository on mars:

Jeff.Ator@m71a3 [/gpfs/dell2/emc/obsproc/noscrub/Jeff.Ator/testGSI (46)] % !!
git clone --branch Bufr_DA_test --recurse-submodules https://github.com:mark-a-potts/GSI
Cloning into 'GSI'...
remote: Not Found
fatal: repository 'https://github.com:mark-a-potts/GSI/' not found
Jeff.Ator@m71a3 [/gpfs/dell2/emc/obsproc/noscrub/Jeff.A

[2020-07-14 14:47] jbathegit commented on #9
Is the repository blocked in some way, or some other permissions issue?

[2020-07-14 14:49] kgerheiser commented on #9
Just a bad link (see the `:`)

https://github.com/mark-a-potts/GSI.git

[2020-07-14 15:19] jbathegit commented on #9
Now I'm getting the following feedback:

Jeff.Ator@m72a1 [/gpfs/dell2/emc/obsproc/noscrub/Jeff.Ator/testGSI (43)] % git clone --branch Bufr_DA_test --recurse-submodules https://github.com/mark-a-potts/GSI.git
Cloning into 'GSI'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 61109 (delta 0), reused 2

[2020-07-14 15:31] mark-a-potts commented on #9
Ah, that means you don't have a gerrit alias set up. The fix files are
still stored in Vlab. Probably the easiest thin to do is to just copy
(or link) to my copy at
/gpfs/dell2/emc/modeling/noscrub/Mark.Potts/ProdGSI/fix. After that,
make sure you run "git submodule init libsrc; git submodule sync libsrc;
git submodule update libsrc" to make sure that the libsrc submodule gets
populated correctly.

[2020-07-14 16:16] jbathegit commented on #9
OK, I made the symlink to your fix directory, then ran the init and sync steps, but the update step failed:

git submodule update libsrc
Cloning into '/gpfs/dell2/emc/obsproc/noscrub/Jeff.Ator/testGSI/GSI/libsrc'...
ssh: Could not resolve hostname gerrit: Name or service not known
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository

[2020-07-14 16:25] mark-a-potts commented on #9
Argh. I think you should be able to just copy the libsrc directory from
/gpfs/dell2/emc/modeling/noscrub/Mark.Potts/ProdGSI/libsrc. Sorry about
that.

-M

On 7/14/20 12:16 PM, Jeff Ator wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2020-07-14 17:33] jbathegit commented on #9
OK, I copied over the libsrc directory and was able to run the "./ush/build_all_cmake.sh 0 $PWD" step from the GSI directory.  I then cd'ed to the build subdirectory and ran the "module purge" and "module use path-to-GSI/modulefiles" commands, but when I then try to run "module load modulefile.ProdGSI.wcoss_d" I get the following:

Lmod has detected the following error:  The following module(s) ar

[2020-07-14 17:36] jbathegit commented on #9
Never mind, I now see a modulefiles subdirectory in the main "GSI" directory, so I did a "module use" on that and now I can load the modulefile.ProdGSI.wcoss_d module file.  Will now try the ctest command.  Fingers crossed...

[2020-07-14 19:15] jbathegit commented on #9
OK, I can reproduce the error now, but I'm not getting very much information out of the stack trace - in my stdout everything says "Unknown" for the routine name, whereas in Mark's stdout on hera it showed routine names and line numbers.  How do I get that level of detail in my runs - is there some compile setting (or DEBUG option) that I need to set?

[2020-07-14 19:20] mark-a-potts commented on #9
Yes. When you build with the build_all_cmake script, you can use this
command from the GSI directory instead -- "./ush/build_all_cmake.sh
DEBUG $PWD"

Thanks,

-M

On 7/14/20 3:16 PM, Jeff Ator wrote:

[2020-07-14 20:33] jbathegit commented on #9
OK thanks, that seemed to work.  However, I was hoping that if I reset the environment variable $BUFR_LIBd_DA it might then do the build using a version of the BUFR library that was also compiled with the debug option.  However, even if I reset this variable I still see:

BUFR library /gpfs/dell1/nco/ops/nwprod/lib/bufr/v11.3.0/ips/18.0.1/libbufr_v11.3.0_d_64_DA.a set via Environment variable

in

[2020-07-14 20:53] mark-a-potts commented on #9
Yeah, that is probably not working right. Here is how you can be sure
you get the library you want linked in. From the GSI/build directory,
open up src/gsi/CMakeFiles/gsi_DBG.x.dir/link.txt. That has the full
link line used to compile the GSI in debug mode. Search for bufr and
replace the two instances it shows up with the full path to the library
you want to use. After that, delete the GSI/build/

[2020-07-14 22:14] jbathegit commented on #9
OK, one more question - is there any way to run this thing using an interactive debugger such as gdb?  The only executable I can find anywhere is "ctest", but that doesn't contain any internal debugging symbols (even though I used "DEBUG" as the first argument to ./ush/build_all_cmake.sh!?), so it's basically useless within gdb.  What I was hoping was to be able to manually run and step through, s

[2020-07-14 22:42] mark-a-potts commented on #9
That is a tough one. This test runs on 56 cores I think, so putting it
in gdb is going to be hard to work with. Let me see if there is a test
that runs on fewer cores (and also fails) that might work.

-M

On 7/14/20 6:14 PM, Jeff Ator wrote:

--
Mark A. Potts, Ph.D.
Sr. HPC Software Developer
RedLine Performance Solutions, LLC
Phone 202-744-9469
Mark.Potts@noaa.gov
mpotts@redlineperf.com

[2020-07-15 00:20] jbathegit commented on #9
Thanks Mark - I'd really appreciate anything you or anyone else could do to narrow down the scope of what I need to look at here.  Just some small code snippet which runs on a single processor but exhibits the same behavior would be ideal, though I'm guessing probably also wishful-thinking ;-)  I'm not at all familiar with the GSI hierarchy nor even with running any sort of code across multiple co

[2020-07-15 00:51] aerorahul commented on #9
@jbathegit i can setup something you can work with on a single PE.

[2020-07-15 02:06] aerorahul commented on #9
@mark-a-potts @jbathegit
Just an heads up!
While working on getting to read the IASI bufr file in a standalone program, I noticed in the [read_iasi.f90](https://github.com/NOAA-EMC/GSI/blob/master/src/gsi/read_iasi.f90) on [L417](https://github.com/NOAA-EMC/GSI/blob/d74bc03b90de6607b50f170dde2d07c12e0605aa/src/gsi/read_iasi.f90#L417) is a call to close the bufr file.
[code]
The bufr file has not b

[2020-07-15 13:09] mark-a-potts commented on #9
I think that might have been the problem. I need to do a little more testing, but the code got further that time before crashing in crtm, which is does when it is in debug mode.

[2020-07-15 13:11] mark-a-potts commented on #9
Great catch @aerorahul!

[2020-07-15 13:50] jbathegit commented on #9
Yes, great catch @aerorahul   If the file pointed to by logical unit lnbufr hasn't been "opened" yet, then that could indeed explain it.  You'll note I put "opened" in quotation marks here, because I'm talking about opening the file to the BUFRLIB via a call to subroutine openbf, as opposed to just using a FORTRAN open statement to link a filename to a logical unit number.  The reason this is sign

[2020-07-15 15:00] mark-a-potts commented on #9
Well, commenting out the closbf call allowed the global_T62 case to run
to completion in the loproc configuration, but in the hiproc
configuration, it still crashes in closbf (line 61) calling status.f
(line 117). I'll see if I can get more information on that using the
debug build.

-M

On 7/15/20 9:50 AM, Jeff Ator wrote:

[2020-07-15 15:28] aerorahul commented on #9
@jbathegit Is there a reason why one has to do the Fortran `open` before a call to `openbf`?  Why can't `openbf` internally call  Fortran `open` and similarly `closbf` call Fortran `close`?

[2020-07-15 15:49] jbathegit commented on #9
@aerorahul this was a conscious design decision made a long time (i.e. decades) ago when the library was first developed, in order to allow maximum portability to different systems which might have different extensions to the Fortran OPEN statement.  For example, for a long time SGI-based systems had a non-standard FORM="SYSTEM" extension which allowed a Fortran read of a file as a binary stream w

[2020-07-15 17:03] mark-a-potts commented on #9
So, I added a check in closbf.f (and then renamed it closbf.F) that simply returns if files haven't yet been allocated. This seems to fix the "problem" with the GSI. I put problem in quotes because I am not sure it is really a problem with bufrlib as much as with GSI, but I think it does make bufrlib more robust to have this check in place. It looks like this--

      USE MODA_NULBFR

      INCLUD

[2020-09-29 22:10] edwardhartnett opened #14 "README should be like other NCEPLIBS readmes..."
README should conform to requirements here:
https://github.com/NOAA-EMC/NCEPLIBS/issues/120

Past code changes should go into a RELEASE_NOTES.md doc, if you want to keep them.

On-going code changes should be listed in the release notes, not in the README.

[2020-09-29 22:12] edwardhartnett opened #15 "Add doxygen documentation"
As described here:
https://github.com/NOAA-EMC/NCEPLIBS/issues/121

[2020-10-08 18:51] edwardhartnett commented on #9
Is this issue still active?

[2020-10-08 18:56] edwardhartnett opened #17 "measure test coverage"
What is the level of testing for this repo?

I see that there are tests and they are being run by github actions! Nice!

@jbathegit do you have a feel for how well this testing covers the code in this repo? Do we need more testing, and, if so, specifically what additional tests should we have?

[2020-10-08 20:05] mark-a-potts commented on #9
I think it is resolved now.

[2020-10-08 20:27] #9 closed

[2020-10-08 20:28] jbathegit commented on #9
Yes, it's resolved.  Even though this is really an issue that should be fixed in the GSI code, I agreed to pull the CLOSBF "fix" over into the code baseline.

[2020-10-08 20:47] jbathegit commented on #17
The 8 existing unit_test codes pretty-much cover all of the major subprograms and functions that would be used by 99% of users, so yes I think it's adequate, and I'll certainly let you know if/when any major functionality is added which would necessitate additional unit_test codes.

While any testing scheme could likely be improved, the subprograms which aren't directly called by the unit_test cod

[2020-10-08 22:00] edwardhartnett commented on #17
Awesome.

We need to measure test coverage and quantify this, and identify areas for additional testing.

[2020-10-08 22:08] edwardhartnett commented on #15
@jbathegit what is the sate of documentation for this code? I'm looking around and do see anything obvious...

[2020-10-08 22:54] jbathegit commented on #15
Sorry, I don't have any experience with doxygen, and I also don't have time to learn it right now.  That said, there are already docblocks inside all of the BUFRLIB subprograms, and there's also an online user guide at https://emc.ncep.noaa.gov/emc/pages/infrastructure/bufrlib.php

That's pretty-much all of the BUFRLIB documentation we have at this point, but feel free to take that and run with it

[2020-10-08 22:55] jbathegit commented on #15
Also, where did "Version 11.5.0" come from?  The next release version of BUFRLIB should be 11.4.0, unless I missed something(?)

[2020-10-08 23:16] edwardhartnett commented on #15
You have a release 11.4.0, so 11.5.0 seems next. ;-)

Who maintains the documentation here: https://emc.ncep.noaa.gov/emc/pages/infrastructure/bufrlib.php

Where is the source for this documentation?

Thanks!

[2020-10-09 13:37] jbathegit commented on #15
OK, clearly I've been a bit out of the loop, as 11.3.2 was the last release I was aware of.  But that's fine and no worries, and I appreciate all of the expertise and help from you and others to modernize the support and usefulness of this library for a wider audience.  My own particular area of knowledge centers around the legacy contents of the src and test subdirectories, mainly to support the

[2020-10-09 14:10] edwardhartnett commented on #15
We are going to standardize on doxygen for all NCEPLIBS. We need to copy any useful info from the web pages to the doxygen docs. You can then continue to maintain the web pages if you wish, retire them, or add a link to the on-line doxygen docs. Whenever you add info to the web pages, make sure to add that to the doxygen docs as well.

For an example of what this might look like with NCEPLIBS, see

[2020-10-09 15:52] jbathegit commented on #15
So someone (me?) needs to go through 300+ subprograms to add in author, file, param, date, etc. tags inside of each one and then figure out how to get doxygen to display everything properly?  Do we have any NCEPLIBS resources to help with this, or is the expectation that I'm going to be the one to do this?

If this is going to fall on me, then so be it, but I can't promise how quickly I'd be able

[2020-10-09 16:16] edwardhartnett commented on #15
As always we will proceed in an incremental fashion towards the ideal and stop when the benefits seem lower than the costs. That's agile programming. ;-)

Yes, we have resources to help! We are a team and will resolve these issues as a team, which means some will be experts in doxygen and get things spun up everywhere, and others will just be expected to keep things working, and document new and c

[2020-10-09 16:18] edwardhartnett commented on #15
To answer your more specific question, the library has a publicly callable API. It's reasonable for the user to expect documentation for all those functions.

[2020-10-16 11:35] edwardhartnett opened #19 "enable_tests should be on by default"
We want users of this code to run tests, so they should be enabled by default, as is the common custom.

[2020-10-16 11:40] edwardhartnett opened #20 "convert to using Fortran/C API"
There is now a standard way to call C from Fortran.

We are doing this sort of thing, but it is no longer necessary (from src/bufrlib.h):

[code]

[2020-10-16 11:44] edwardhartnett opened #21 "VERSION file wrong, also future versions should use standard version number, like other NCEPLIBS projects..."
The current version in the VERSION file is:
11.3.1.1

But there is a tagged release 11.4.0.

OK, we don't need 4 numbers. 3 works for every other project and will work well for this one too. ;-) So the VERSION file should be updated to 11.4.0.

The next release can be 11.5.0 or 11.4.1...

[2020-10-16 11:46] edwardhartnett opened #22 "Change to standard CMake way of handling parameter constants instead of a .prm file"
There is a file bufrlib.prm. It is not included in the cmake build. It contains this:

If this file is not being used, let's remove it.

[code]

[2020-10-16 11:47] edwardhartnett opened #23 "Remove legacy Makefile in src directory"
There is a legacy Makefile in the src directory that should be removed.

[2020-10-16 11:49] edwardhartnett opened #24 "What is in the Conf directory?"
There is a Conf directory with a bunch of files. What are these for? Are they still used?

[2020-10-16 11:50] edwardhartnett opened #25 "Remove legacy build_bufr.sh"
We are fully committed to the CMake build system. There will be no more make-based build systems, and no more build scripts. This script should be removed.

[2020-10-16 11:51] edwardhartnett opened #26 "README.md in utils directory should be added to doxygen docs"
README.md in utils directory should be added to doxygen docs

[2020-10-16 12:44] aerorahul commented on #22
`bufrlib.prm` is read and used in the build of the library and cannot/should not be removed.

[2020-10-16 12:46] aerorahul commented on #21
major.minor.patch.tweak is semantic versioning.
Though, we don't tweak much.

[2020-10-16 12:47] aerorahul commented on #25
Also, Makefile and others

[2020-10-16 13:51] edwardhartnett commented on #22
Why is it named .prm instead of .inc?

[2020-10-16 13:52] edwardhartnett commented on #21
Let's use a 3-part number on this project as we do all the other NCEPLIBS. That will be enough to get by, I'm sure.

[2020-10-16 14:03] aerorahul commented on #22
No idea. @jbathegit may know the history.

[2020-10-16 14:15] edwardhartnett commented on #22
OK, here's what CMakeLists.txt is doing:

[code]

So this is apparently some way to set variables in CMake?

[2020-10-16 14:28] aerorahul commented on #22
This was done in the build scripts and I simply translated that to cmake.
If there is an alternative or better way, please let me know.

[2020-10-16 14:42] edwardhartnett commented on #22
Is the goal to get a cmake variable set like this:
MAXNC = 600

In other words, if we had:
set(MAXNC 600)

would that be what are are trying to achieve?

[2020-10-16 18:28] jbathegit commented on #22
The information in the bufrlib.prm file is indeed needed.  It contains global parameters that are needed within numerous Fortran subprograms throughout the library, and in particular two of them (i.e. MAXNC and MXNAF) always need to be identically defined within several C subprograms.  That's what the snippet in CMakeLists.txt is doing (and what the makebufrlib.sh script before it was doing) - bas

[2020-10-16 19:48] edwardhartnett commented on #22
OK, so how about we make these numbers CMake options, with defaults as now in the .prm file.

Then we use variable substitution to generate the header files that need these values. Seems like one .h file should be enough, then all the other C code can just include it. If there's a need for these values in Fortran too, then we also have a .inc file.

So in the repo we will have a file like:
header.

[2020-10-16 21:01] jbathegit commented on #22
A couple of questions:

1. First off, yes we absolutely need these MAXNC and MXNAF values defined in Fortran.  So are you suggesting changing the filename from bufrlib.prm to bufrlib.inc.  We could certainly do that, but then we need to correspondingly change all of the Fortran source files which currently contain an "INCLUDE 'bufrlib.prm'" directive, to make that "INCLUDE 'bufrlib.inc'" instead.

[2020-10-16 21:07] edwardhartnett commented on #22
If we change the file to bufrlib.inc, and change all includes to that, then we would have a file in the repo bufrlib.inc.in. That file would have @MAXNC@ and any other substitutions. The .in file can also contain constants and variables that are not touched by CMake, so they will continue to work fine.

[2020-10-19 16:13] jbathegit opened #27 "disconnect in version numbers"
The latest tagged release of the software is 11.4.0; however, the VERSION file still says its 11.3.1.1, and the src/bvers.f file still says its 11.3.0.  We need to make sure that all of these are in sync.  Ideally, when incrementing the version number, it would be nice if we could do it in just one place and then have that new number automatically propogate everywhere else.

[2020-10-19 16:37] edwardhartnett opened #28 "Put version in src/bvers.f at configure-time from the VERSION file"
We have a VERSION file.

We also have code like this (src/bvers.f):
[code]

I'm not sure that is going on with the length check here. Why is that necessary?

Instead, we create a file like this, but called bvers.f.in. Instead of:

`	CVERSTR = '11.3.0'
`

it will have:

`	CVERSTR = '@PROJECT_VERSION@'
`

Then, in the CMakeLists.txt file, we will have:

`  configure_file(${CMAKE_CURRENT_SOURCE_DIR}/

[2020-10-19 16:39] edwardhartnett commented on #27
Also see #21

Seems like the way to go is to have the VERSION file be the canonical source for the version number. That's where the build system and the documentation get it. I have entered a new issue for that change: #28.

Once that is done, the bvers.f file cannot be out of sync.

We still have to take care when releasing a new version that the VERSION file correctly matches the tag (and releas

[2020-10-19 18:26] jbathegit commented on #28
That sounds fine @edwardhartnett - thanks!

BTW, the reason the length check is there is because the user has to pass in a string variable to hold the returned output.  So the length check ensures that the user passed in sufficient array space and that we don't overflow the string bounds.

[2020-10-19 18:38] edwardhartnett commented on #28
Oh, duh. Thanks for the explanation.

[2020-10-20 10:44] #14 closed

[2020-10-20 10:44] #15 closed

[2020-10-22 20:44] jbathegit commented on #28
@edwardhartnett

I moved src/bvers.f to src/bvers.f.in, then made the following change as you suggested:

Then I modified src/CMakeLists.txt file to insert the line:

but this generated the following error during the make step:

So I went back in to src/CMakeLists.txt and added the following line inside of the "foreach (kind ${kinds}) loop, immediately prior to the line "add_library(${lib_name}_f

[2020-10-22 23:18] edwardhartnett commented on #28
Is this on a branch? Can you put it up as a draft PR?

[2020-10-23 12:58] edwardhartnett opened #29 "Set up branch protection on develop branch"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/154

[2020-10-23 12:59] edwardhartnett commented on #29
I have done this. @jbathegit please take note of the change...

[2020-10-23 12:59] #29 closed

[2020-10-23 14:00] jbathegit commented on #28
Yes, I've been working in a new jba_docs branch off of the develop branch.  I went ahead and committed what I've done so far, but I'm getting an error when trying to push the new branch up to the repository so you can look at it:

% git push -u origin jba_docs
Username for 'https://github.com': jbathegit
Password for 'https://jbathegit@github.com':
remote: Permission to noaa-emc/nceplibs-bufr.git

[2020-10-23 14:06] edwardhartnett commented on #28
OK, no PR can happen until you can push your branch.

I'm surprised your are not using ssh instead of passwords. It's easier.

But your password should work...

[2020-10-23 14:51] jbathegit commented on #28
OK, something else seems to be going on here, because I just added my WCOSS public ssh key to my GitHub account, and I was able to successfully test the connection using "ssh -T git@github.com".  But then when I try the same push command again, it's still asking me for my username and password, and those still don't work when I type them in!?

Can you confirm that I'm using the correct syntax in m

[2020-10-23 14:53] kgerheiser commented on #28
Did you clone your repo using ssh and not https?

Run `git remote -v`

[2020-10-23 15:05] jbathegit commented on #28
Yes, it was originally cloned with https.   So I just tried switching it over via:

% git remote set-url origin git@github.com:noaa-emc/nceplibs-bufr

but I'm still getting a similar error when I then try to do the push:

% git push -u origin jba_docs
Warning: Permanently added the RSA host key for IP address '140.82.113.4' to the list of known hosts.
ERROR: Permission to noaa-emc/nceplibs-bufr.gi

[2020-10-23 15:06] edwardhartnett commented on #28
When you switch to ssh you must re-clone and start over. :-(

First let's confirm that ssh is working for you. Do this in some other directory:
git clone git@github.com:NOAA-EMC/NCEPLIBS-bufr.git

Then go into the dir, create and push a branch, and see if that works.

[2020-10-23 15:07] kgerheiser commented on #28
That's not true.

WIth `git remote -set-url <remote> <url>`

Looks like your url is incorrect: `git@github.com:NOAA-EMC/NCEPLIBS-bufr.git` (think you need the .git)

[2020-10-23 15:10] jbathegit commented on #28
I thought about that too, but under https it didn't have the .git (it displayed as https://github.com/noaa-emc/nceplibs-bufr), so I assumed that meant I didn't need the .git under ssh either.  I'll give it a try though, since I'm not sure what else to do at this point...

[2020-10-23 15:11] kgerheiser commented on #28
I think your permission were incorrect. I updated it in Github. Give it another try.

[2020-10-23 15:13] jbathegit commented on #28
BINGO - it finally works now (thanks!!)

[2020-10-23 15:13] jbathegit commented on #28
I'll send the pull request now...

[2020-10-26 19:03] jbathegit commented on #28
fixed within #30, as commit 04039e2

[2020-10-26 19:03] #28 closed

[2020-10-26 19:05] jbathegit commented on #27
fixed within #30, as commit 04039e2

[2020-10-26 19:05] #27 closed

[2020-10-26 19:11] edwardhartnett commented on #21
This was fixed with #30

[2020-10-26 19:11] #21 closed

[2020-10-27 20:50] jbathegit commented on #19
Will include this in next pull request

[2020-10-27 20:50] jbathegit commented on #25
Will include this in next pull request

[2020-10-27 20:50] jbathegit commented on #23
Will include this in next pull request

[2020-10-28 17:50] edwardhartnett opened #32 "Identify areas for additional testing"
@jbathegit run these commands:

[code]

Then open the file example-html-details.html to see the code coverage report.

Here's a snapshot:
![image](https://user-images.githubusercontent.com/38856240/97475565-07bf9080-1913-11eb-8175-79d4dcfc4394.png)

The overall test coverage is 50%. This is pretty good, but we need it to be above 70% for sure. Can you identify areas for additional testing? (Altern

[2020-10-28 17:51] edwardhartnett opened #33 "Unit tests for src/copybf.f, src/copymg.f, src/copysb.f, src/cpbfdx.f, src/cpdxmm.f, src/cpymem.f, src/cpyupd.f"
src/copybf.f, src/copymg.f, src/copysb.f, src/cpbfdx.f, src/cpdxmm.f, src/cpymem.f, src/cpyupd.f are all untested

[2020-10-29 23:23] jbathegit commented on #22
Will include a solution for this in the next pull request

[2020-10-30 10:06] edwardhartnett commented on #22
OK, great; please submit pull requests incrementally, instead of in a big batch that's hard to review.

Also, before any more changes in the code, I would like to know that code is being tested. Run the code coverage analysis and see if the code you want to modify is run by any tests. If not, add tests in a separate PR before you do any changes to the code.

[2020-10-30 13:38] jbathegit commented on #22
OK, I'll go ahead and submit a pull request for what I've got so far.  I haven't made any changes to source code thus far other than changing bufrlib.prm to bufrlib.inc and using set variables within CMake to propogate parameter values from Fortran to C within bufrlib.h.  I've tested everything successfully with the current tests, but I haven't dug into the code coverage analysis tool yet, and I a

[2020-10-30 13:43] edwardhartnett commented on #22
Sounds great. Are you going to put your doc changes up as a PR?

[2020-10-30 13:51] jbathegit commented on #22
The doc changes show up in the build directory under docs/html.  What I've been doing to look at them is to tar up that entire directory and then put it on the emcrzdm server where I can look at everything as html via a browser.  If you'd like to do that as well as part of your review (besides just looking at the doxygen markdown in the src files ;-), then just let me know and I'll share the URL w

[2020-10-31 20:03] #23 closed

[2020-10-31 20:03] #25 closed

[2020-10-31 20:12] #19 closed

[2020-10-31 20:14] #24 closed

[2020-11-02 14:56] aerorahul opened #40 "Should be in the if-block of ENABLE_DOCS"
https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/b4fde52fc76fbb71db438530549df788b874c4c6/CMakeLists.txt#L72

[2020-11-02 14:57] edwardhartnett commented on #40
If you look in the CMake file in the subdirectory you will see that it does nothing if ENABLE_DOCS is not set.

[2020-11-02 15:02] aerorahul commented on #40
but, then I have to look underneath.
I saw that.
That directory is docs and should only be included if docs are enabled.
The check inside the doc's directory is redundant.
It places the entire contents of that file in an if-block.  Functional -- yes

[2020-11-02 15:03] aerorahul commented on #40
closing because it is addressed in a hidden manner.

[2020-11-02 15:09] edwardhartnett commented on #40
Meanwhile, I thought it over more and agree with you. I will fix in all projects...

[2020-11-02 15:12] aerorahul opened #41 "Incorrect VERSION in tagged version bufr_v11.4.0"
bufr_v11.4.0 tag has incorrect VERSION file.
The VERSION file still reads 11.3.1.1

Can someone please update the VERSION file in that tag ASAP?
Downstream projects are using the VERSION from `find_package` to make decisions and the critical version is 11.4.0.

[2020-11-02 16:11] edwardhartnett opened #42 "combine list_of_files.cmake into CMakeLists.txt"
It's normal to list all the source code in the CMakeLists.txt file.

I see the impulse to simplify this long list, but putting it in a separate file really doesn't help.

For example, it's typical to do something like:

`find . -name CMakeLists.txt | xargs grep code_file.f
`

to find all the instances of code_file.f in the build system. Putting the list of code files in a separate cmake file just

[2020-11-02 16:15] edwardhartnett opened #43 "should .inc files be included in cmake build lists of files?"
@aerorahul I would welcome input on this one.

In autotools systems I would expect to include the .inc files in the list of code files. In that way dependencies can be tracked. (That is, changes in the inc file could trigger rebuild of files that depend on it.

Is that not the case is cmake?

We have a file src/bufrlib.inc (formerly src/bufrlib.prm), but it is not part of the cmake list of sources

[2020-11-02 16:19] aerorahul commented on #42
`find . -name `*.cmake` | xargs grep code_file.f`
works too.

[2020-11-02 16:25] aerorahul commented on #43
I would say yes, because if one changed the `.inc` file, you want that change to trigger recompilation of the source code that includes it.

[2020-11-02 16:31] edwardhartnett commented on #42
By following standard conventions we increase user engagement and ability to contribute to these codes, as well as lowering NOAA support costs and new programmer on-boarding effort.

When we do things differently from everyone else, we introduce unnecessary cost and risk into our code bases.

So in the absence of a strong reason to be different, we will make our build systems similar to community

[2020-11-02 16:34] aerorahul commented on #42
I like the multi-edged narrative; standard sometimes,  convenience other times and somewhere in between the rest of the time; whatever suits.

[2020-11-02 16:36] aerorahul commented on #42
`include()` is a standard way of including files when the list is too long and adds modularity to the `CMakeLists.txt`

[2020-11-02 17:32] edwardhartnett opened #44 "Test for recent burflib.prm (and proposed) changes?"
OK, up to now we have just renamed a file. But the next step is to create the inc file at build time, instead of having it in the repo. The inc file will then look like as shown below.

Note that the MAXNC and the MXNAF parameters will get substituted values.

Do we have any tests that specifically depend on MAXNC and MXNAF?

[code]

[2020-11-02 17:58] jbathegit commented on #44
I just submitted a [pull request](https://github.com/NOAA-EMC/NCEPLIBS-bufr/pull/45) to address the issue of having parameters defined in multiple locations, but now it sounds like you want to handle this in a different way?

[2020-11-02 18:04] jbathegit commented on #44
We could certainly add on to the top of my recent changes, to have the source definitions for MXNAF and MAXNC now defined in bufrlib.h.in and then use those to generate bufrlib.inc on the fly.  But if we generate bufrlib.inc on the fly, then from where should we copy over the content for MXS, MXCNEM and BMISS, which are currently only ever defined in bufrlib.inc?

[2020-11-02 18:10] edwardhartnett commented on #44
OK, I had a different idea of where this is going, but first let me re-ask the question. Do we have a test which would fail if we broke any of these constants?

[2020-11-02 18:50] jbathegit commented on #44
Yes, test_OUT_2.f already includes a test for the value of BMISS.  But the other 4 values are parameters, which by definition are fixed at compile time and can never change after that.  So we don't currently have any direct tests for those values, and off the top of my head I'm not even sure how we would do that, because those parameters are all used in low-level (i.e. deep down-in-the weeds) rout

[2020-11-02 19:34] jbathegit commented on #44
FWIW, test_IN_1.f and test_IN_4.f both exercise the Section 3 decoding logic, which means they would both fail rather quickly at a lower level (i.e. inside of reads3.f) if either MAXNC or MXCNEM wasn't set properly.

Similarly, all but one of the test programs calls UFBINT to read or write individual data values, and any of those would fail rather quickly at a lower level (i.e. inside of string.f)

[2020-11-02 21:16] aerorahul commented on #41
@edwardhartnett
Would it be permissible to change the incorrect VERSION in the tag?

[2020-11-02 21:51] #22 closed

[2020-11-02 21:51] edwardhartnett commented on #41
Whatever @jbathegit wants to do. It's fine by me to change the VERSION in the tag.

[2020-11-03 14:37] edwardhartnett opened #48 "transfer text from external HTML docs to user_guide.md and code files in repo"
As discussed in meeting on 11/2/20, there is an external HTML documentation site for NCEPLIBS-bufr. It should be referenced in the README. (@jbathegit can you put the link in this issue or in the README?)

This external documentation contains additional text that describes NCEPLIBS-bufr and its functions.

Some of the external docs refers to specific functions and can be moved to those code files.

[2020-11-03 14:50] aerorahul commented on #41
I will be deleting the tag bufr_v11.4.0 and re-tagging with this branch
https://github.com/NOAA-EMC/NCEPLIBS-bufr/tree/bugfix/version11.4.0

[2020-11-03 14:54] aerorahul commented on #41
Fixed via https://github.com/NOAA-EMC/NCEPLIBS-bufr/tree/bugfix/version11.4.0
Closing issue.

[2020-11-03 14:54] #41 closed

[2020-11-03 15:43] #44 closed

[2020-11-04 15:56] jbathegit commented on #32
Where does the gcovr command live?  I don't see it on the WCOSS - do I need to run gcovr on a different system?

Either way, I am working on some new tests as we speak ;-)

[2020-11-04 17:12] edwardhartnett commented on #32
gcovr is a Unix utility. It can be installed with:

`sudo apt-get install gcovr`

It's a standard GNU tool so if you ask the sysadmins, they should be able to easily install for you. But then you have to, as you note, tar up the web pages and put them somewhere you can look at them.

I work on a stand-alone Linux box, not on the WCOSS systems.

[2020-11-04 17:42] jbathegit commented on #32
Well, there's no way they'll install this on the WCOSS, and even though I have my own stand-alone NCWCP Linux box (emc-lw7-jator), it isn't installed there either at the moment, and as backed up as the sysadmins are right now it could be weeks/months before they could possibly get around to this.

Is your Linux box on the NCWCP network that I could maybe ssh into using my jator account?  Or, faili

[2020-11-05 13:40] edwardhartnett commented on #32
Sure, no problem. Some day I hope we can have these coverage reports generated on-line automatically every day. But we're not there yet. ;-)

We only need it occasionally, whenever we need to identify areas for further testing. Once we've identified a few things to test, we can get to work writing tests for them. Then we can run the coverage again to see what should come next...

[2020-11-05 13:44] edwardhartnett commented on #32
And we did identify some additional testing needs. See #33

[2020-11-05 13:45] #40 closed

[2020-11-05 14:13] jbathegit opened #51 "update to subroutine STNDRD, including new test case"
In my BUFRLIB repository in VLab, I have an update to subroutine STNDRD that I'd been planning to introduce in the next version for the WCOSS and on my website.  Now that I'm working to fully merge everything into the NCEPLIBS-bufr repository on GitHub, I'd like to bring this update over to GitHub and just work from there going forward.

The update to the subroutine fixes an internal calculation w

[2020-11-05 14:16] jbathegit opened #52 "update to subroutine UFBSEQ, including new test case"
In my BUFRLIB repository in VLab, I have an update to subroutine UFBSEQ that I'd been planning to introduce in the next version for the WCOSS and on my website. Now that I'm working to fully merge everything into the NCEPLIBS-bufr repository on GitHub, I'd like to bring this update over to GitHub and just work from there going forward.

The update to the subroutine deals with a situation where the

[2020-11-05 14:20] jbathegit opened #53 "updates to subroutines READLC and WRITLC, including new test cases"
In my BUFRLIB repository in VLab, I have an update to subroutines READLC and WRITLC that I'd been planning to introduce in the next version for the WCOSS and on my website. Now that I'm working to fully merge everything into the NCEPLIBS-bufr repository on GitHub, I'd like to bring these updates over to GitHub and just work from there going forward.

Subroutine READLC was modified to return a "mis

[2020-11-05 14:22] jbathegit opened #54 "update to subroutine WRITSA, including new test case"
In my BUFRLIB repository in VLab, I have an update to subroutine WRITSA that I'd been planning to introduce in the next version for the WCOSS and on my website. Now that I'm working to fully merge everything into the NCEPLIBS-bufr repository on GitHub, I'd like to bring this update over to GitHub and just work from there going forward.

The update to the subroutine allows  the return of up to two

[2020-11-05 14:27] jbathegit opened #55 "updates to subroutines UFDUMP and UFBDMP, including new test cases"
In my BUFRLIB repository in VLab, I have an update to subroutines UFDUMP and UFBDMP that I'd been planning to introduce in the next version for the WCOSS and on my website. Now that I'm working to fully merge everything into the NCEPLIBS-bufr repository on GitHub, I'd like to bring these updates over to GitHub and just work from there going forward.

These two subroutines are used as offline diagn

[2020-11-05 14:36] jbathegit commented on #33
I think I can cover src/cpbfdx.f within a new test program that I'm currently working on for #51, #52, #53, and #54.

[2020-11-05 15:13] jbathegit commented on #32
Yes, I know about #33.  But as noted in #51 thru #55, I'm also going to be developing some additional test programs for those 5 issues, so I wanted to know if there was any "low-hanging fruit" from within your earlier coverage report that I might be able to address at the same time and within the same programs.  And that's why I wanted to see a full report, rather than just a snapshot of the first

[2020-11-06 17:02] jbathegit commented on #51
@edwardhartnett @aerorahul

I'm about ready to submit a pull request for this.  It will be a new test_OUT_4.f program which includes tests for this source change as well as #52, #53 and #54, plus some additional subprogram tests that I know haven't been covered yet within the existing test suite.  So the main connecting thread in the pull request will be the test_OUT_4.f program which is a good ne

[2020-11-06 17:04] aerorahul commented on #51
@jbathegit
I don't have permissions to write to that space either.
I would email @EricRogers-NOAA with a path to the updated tarball, and ask him to replace it with the one you provide.

[2020-11-06 17:07] edwardhartnett commented on #51
Awesome progress! Maybe you can put this up as a draft PR while you get the tar file updated? Also maybe @kgerheiser has write permissions for that file?

[2020-11-06 17:10] EricRogers-NOAA commented on #51
The tarball belongs to emc.glopara on RZDM:

/home/ftp/emc/static_files/public
[emc@vm-lnx-emcrzdm02 public]$ ls -l
total 9788
-rw-r--r--. 1 emc.glopara emc 9964544 Jul 22 16:15 bufr.tar
drwxr-xr-x. 2 emc.glopara emc    4096 Oct  2 13:47 CCPA
drwxr-xr-x. 3 emc.glopara emc    4096 Sep 17 18:34 UFS
drwxr-xr-x. 2 emc.glopara emc    4096 Nov  3 20:21 WW3

We need whoever put it there (maybe Kate?) to

[2020-11-06 17:20] edwardhartnett commented on #51
It's more important that @jbathegit have permissions. ;-)

[2020-11-06 17:29] jbathegit commented on #51
jator2@vm-lnx-emcrzdm02.ncep.noaa.gov [/home/ftp/emc/static_files/public (49)] % ls -la
total 9796
drwxr-xr-x. 5 emc.glopara emc    4096 Oct  2 13:45 ./
drwxrwxrwx. 3 emc         emc    4096 Aug  3 14:22 ../
-rw-r--r--. 1 emc.glopara emc 9964544 Jul 22 16:15 bufr.tar
drwxr-xr-x. 2 emc.glopara emc    4096 Oct  2 13:47 CCPA/
drwxr-xr-x. 3 emc.glopara emc    4096 Sep 17 18:34 UFS/
drwxr-xr-x. 2 emc.g

[2020-11-06 17:30] EricRogers-NOAA commented on #51
I'm emailing Kate, Fanglin, and Russ now about this.

Eric

[2020-11-06 17:32] jbathegit commented on #51
Thanks, and just to clarify, I don't need the "public" subdirectory to be world-writeable, just group-writeable, because my jator2 account is in the emc group.  So a chmod 775 will do the trick as I noted earlier, because the world only needs read permission ;-)

[2020-11-06 18:13] jbathegit commented on #51
I'm good with the permissions now, thanks to @EricRogers-NOAA and @yangfanglin   I'll go ahead with final integration testing and then get the pull request submitted.

[2020-11-09 15:54] #51 closed

[2020-11-09 15:54] #52 closed

[2020-11-09 15:54] #53 closed

[2020-11-09 15:54] #54 closed

[2020-11-09 17:44] edwardhartnett commented on #17
Attached is the lastest test coverage, just run this morning...
[coverage.tar.gz](https://github.com/NOAA-EMC/NCEPLIBS-bufr/files/5512332/coverage.tar.gz)

[2020-11-09 18:17] jbathegit opened #57 "do we still need -DENABLE_TESTS=ON?"
@edwardhartnett @aerorahul

Now that testing is enabled by default, do we still need -DENABLE_TESTS=ON in README.md (in the Installation instructions) and in .github/workflows/main.yml?  It might be cleaner if we just remove these - any thoughts?

[2020-11-09 18:24] aerorahul commented on #57
Get rid of the option in README.md.  It does not exist as an option in the build.

[2020-11-09 18:29] jbathegit commented on #57
OK will do, but can we also remove it from .github/workflows/main.yml?

This relates to the (now closed) #19.  We did enable testing by default, but we never removed -DENABLE_TESTS=ON from all of the places where this was explicitly (and now redundantly ;-) set.

[2020-11-09 20:29] edwardhartnett commented on #57
Yes it can be removed everywhere.

[2020-11-09 22:14] jbathegit commented on #17
Thanks very much for this @edwardhartnett , but is there any way you could generate this from an Intel DA build+test?  Two of the test codes (test_OUT_3.f and test_OUT_4.f) require a DA build of the library and are currently set up to only run on Intel.  So I'm guessing maybe you generated this latest version from a different build+test (maybe on Gnu?), because I don't see your latest graph showin

[2020-11-10 12:56] aerorahul opened #61 "Add Python Api"
Add Python Api from Jeff Whitaker.
The python api is used in JEDI IODA projects.

[2020-11-10 13:59] edwardhartnett commented on #61
Is building this in CMake optional? That is, what is someone wants to build NCEPLIBS-bufr but they don't want the python API?

Testing is required.

[2020-11-10 14:00] edwardhartnett commented on #61
Also, is this code just copied from Jeff's library? Is that wise? Have we mentioned this to Jeff?

If this becomes part of NCEPLIBS-bufr, does Jeff plan to rely on this version and retire his version? Or are we creating another copy of this code that NOAA will have to maintain?

[2020-11-10 14:12] aerorahul commented on #61
Jeff transferred this to the JCSDA org because they were using it. It came with a version of the bufr source code.  I brought it here because we are now facing an issue with incompatible bufr source code.

The hope is to have a single repo with the bufr fortran, C and Python API's.

Jeff is a reviewer on the PR.

[2020-11-10 14:22] edwardhartnett commented on #61
@jswhit2 apparently we are ending up with some of your python code and may be merging it into the NCEPLIBS-bufr library. Were you aware of this? Are you planning on maintaining your own copy of this code? Or will NCEPLIBS-bufr be its only home?

Who will maintain this code? @jbathegit are you comfortable taking this on?

[2020-11-10 14:23] edwardhartnett commented on #61
@aerorahul please answer the questions about how this will work in the cmake build.

[2020-11-10 14:26] edwardhartnett commented on #61
@aerorahul you've taken down the PR, which is fine because it needs work. But you've also closed the issue?

[2020-11-10 14:28] aerorahul commented on #61
Opening another one in this place.

[2020-11-10 14:28] aerorahul opened #62 "Need Python API to the BUFR library for JEDI IODA projects."
The JEDI IODA projects use python API's to the bufr library for converting BUFR data into IODA data format.
One such API is the py-ncepbufr developed by Jeff.Whitaker and is currently housed in the JCSDA github repository [here](https://github.com/JCSDA-internal/py-ncepbufr)

This is a requirement for the JEDI IODA project.

Until then, we will continue to use the one under JCSDA organization.

[2020-11-10 14:47] aerorahul commented on #61
Building with python API is optional i.e. the bufr library can be built as is in Fortran 77.

[2020-11-10 15:55] jbathegit commented on #61
For my part, and as I mentioned in #60, I think it will be great to have a Python API available in the NCEPLIBS-bufr bundle, especially if it can be cleanly integrated and if it's the same one that JEDI IODA is currently using.

**However**, I am not proficient in Python, and therefore I am not "comfortable taking this on" if what you're asking me to do is to continue being the sole NCEPLIBS-bufr

[2020-11-10 16:04] edwardhartnett commented on #62
It's not clear that there is great benefit in this code moving to NCEPLIBS-bufr. For example, Jeff's netcdf-4 python package co-exists quite happily with netcdf-c, and is completely separate in every way.

This is currently hosted by JOINT CENTER FOR SATELLITE DATA ASSIMILATION (JCSDA), and presumably supported under that project. Is there a reason that cannot continue?

Do we know of some need wi

[2020-11-10 16:08] edwardhartnett commented on #61
In addition to the code, we would need  on-going assistance with maintenance. So why not just leave it separate?

NCEPLIBS-bufr is the core engine, it does not have to include every language add-on. Similar to netCDF or HDF5 C/Fortran libraries, it provides services for other language layers.

[2020-11-10 16:14] edwardhartnett opened #63 "Some tests for intel only?"
From another issue or PR (can't remember which) it turned out that some tests are run for intel compiler only?

What's that about?

That will make it hard to run good testing. Also, it's not clear why the compiler should make that much of a difference in a test. Perhaps the test can be re-worked to also work on gnu.

To answer a question from @jbathegit I don't know of any way of measuring code co

[2020-11-10 16:18] edwardhartnett opened #64 "explain DA and 4/8/d builds in README"
@jbathegit can you tell me about the DA build and then I will explain it in the README?

Sorry if you have explained it to me before - if so I failed to capture it in the documentation and need to add it.

Some builds use dynamic memory and some don't? I see this in the CMakeLIsts.txt:

[code]

Then in the src/CMakeLists.txt we have:

[code]

So we are building some versions of the library with an

[2020-11-10 16:20] edwardhartnett commented on #64
While at it, let's capture the details of the 4, 8, and d builds as well. I only understand it vaguely.

Are the 4 builds with 4-byte reals, the 8 with 8-byte? Then what's the d?

Also does this also affect integers? These are all achieved with fortran flags, right?

[2020-11-10 16:38] aerorahul commented on #62
It is being used in the JEDI ocean data assimilation system for preprocessing the marine observations.
This system is targeted for operational implementation.

[2020-11-10 17:12] jbathegit commented on #64
Back many years ago when the BUFRLIB was first developed, there were only static allocation builds, which means that all internal BUFRLIB array space is allocated at compile time.  But we had many users who were working with different integer and real sizes in their application programs, so we supplied various BUFRLIB compilations to meet their needs.  Those still persist to this day, and yes thes

[2020-11-10 17:18] edwardhartnett commented on #62
@aerorahul when is this targeted for operational implementation? Do we know?

Has responsibility for this API been discussed before? Clearly not with @jbathegit or myself - anyone else? @jswhit2 I would welcome your views on where this code should be kept.

NCEPLIBS-bufr is already a busy project under active development, with only one person assigned. Adding a whole new language API to the projec

[2020-11-10 17:20] jbathegit commented on #17
Just out of sheer curiosity, I'm going to try pushing a new test branch up to GitHub to see if the test_OUT_3.f and test_OUT_4.f tests can be run under Gnu for the DA builds.  I still don't understand why this would be a problem, and ideally I'd like to be able to have all of the test programs run whenever a new branch is pushed to the repository.  If it works, then this would be big improvement o

[2020-11-10 17:24] edwardhartnett commented on #64
OK, thanks for that clear explanation, which I will transfer to the readme.

We will be doing away with the 4/8/d system in all NCEPLIBS. It's not clear when that change will be proposed for this repo - we're going to try it out in the simpler sp repo first.

It seems unlikely that dynamic allocation is measurably slower. I would like to see proof of that before continuing to support the static al

[2020-11-10 17:25] aerorahul commented on #62
The Reanalysis project is supposed to do trials starting January 2021 and scout runs in March.
The NG GODAS project is on a similar time line.
The Reanalysis is not an operational implementation.
The NG GODAS is to replace the operational GODAS.

[2020-11-10 17:30] aerorahul commented on #17
@jbathegit These were the test programs that you provided.  I had added them to the build and made it part of the Github CI.  I had sent an email asking for assistance on turning those tests ON, because they were failing.
If you can make them work, please turn it ON.

[2020-11-10 17:34] jbathegit commented on #64
Hmm, OK that's news to me.  If there's any sort of plan to do away with the 4/8/d system and/or static builds for all NCEPLIBS(?), then that's a decision that would also need to be vetted and cleared across our WCOSS and RDHPCS user communities, at least insofar as the BUFRLIB is concerned.  That's a huge community of users with a long-term history and vested interest in the library, so a huge cor

[2020-11-10 17:36] aerorahul commented on #17
@jbathegit
Please look at the description of PR #11

[2020-11-10 17:37] jbathegit commented on #17
Thanks for that reminder @aerorahul  I'll take another look.

[2020-11-10 17:40] jbathegit commented on #63
Yes, I brought this up in #17.  Basically, we currently have the following in test/CMakeLists.txt:

# OUT_3 and OUT_4 tests only run with DA library and Intel
if(CMAKE_C_COMPILER_ID MATCHES "^(Intel)$")
foreach(test_src IN ITEMS ${test_OUT_3_srcs} ${test_OUT_4_srcs})
  string(REPLACE ".f" "" testPref ${test_src})
  foreach(kind ${test_kinds})
    if(${kind} MATCHES "^([4|8|d]_DA)$")
      set(test

[2020-11-10 18:18] jbathegit commented on #17
So on the WCOSS I was able to compile and run test_OUT_3.f without any problems using GNU (gfortran and gcc) v4.8.5.  I realize that's a lot lower version than the GNU v9+ that's running in the CI environment, but it's all I have on the WCOSS.  I'll go ahead and try pushing it up and see what happens...

[2020-11-10 18:24] edwardhartnett commented on #64
We will discuss. We believe we have a solution that will have no code impact (i.e. be fully backward compatible). We're going to try it out.

[2020-11-10 22:15] #55 closed

[2020-11-10 22:15] #57 closed

[2020-11-10 22:53] jbathegit commented on #63
Fixed during PR #65.  All DA tests now work on Gnu as well as Intel.

[2020-11-10 22:53] #63 closed

[2020-11-12 04:05] aerorahul commented on #61
@jbathegit I am willing to provide 1 year of support for the python API.  Surely, 1 year is enough to find someone to learn 584 lines of python code in `__init__.py` (A lot of it is documentation).

[2020-11-12 12:45] edwardhartnett commented on #61
@aerorahul your support is appreciated. We will clear this up the supervisory chain.

Did we come up with a time frame when this is required? That is, when is the public release that needs to include this?

We will need good testing before this is merged, and also we need to work out documentation issues. End users should see the python API docs alongside the Fortran docs.

[2020-11-12 12:47] aerorahul commented on #61
Please define what you mean by good testing.
Please help how to put python API docs alongside FORTRAN docs.

[2020-11-12 16:28] jbathegit commented on #61
@aerorahul  I also appreciate the offer of support.  I'm sure I can eventually learn enough Python to be helpful (or dangerous, depending on how you look at it ;-), but in the bigger picture I have a general concern with how much additional work this is going to be for me personally to field inquiries, answer questions, and provide support for the package as a whole, especially after your proposed

[2020-11-12 16:40] jswhit commented on #61
as the developer of the python interface, I'm happy to help.  As @jbathegit  mentioned, if we do this the NCEPLIBS-bufr should become the official repo.

[2020-11-12 18:17] aerorahul opened #68 "build test_OUT_3_4_DA.x failing on macOS"
Following the latest merge into `develop`, the test_OUT_3_4_DA.x fails on macOS with GNU 9.3.0

[code]

[2020-11-12 18:25] aerorahul commented on #68
Can someone else please verify this @kgerheiser?

[2020-11-12 18:28] kgerheiser commented on #68
Can confirm. I get the same error.

[2020-11-12 18:42] jbathegit commented on #68
cfe.h is a header file that is included (via "#include cfe.h") within the dlloctbf.c file in the src directory.  I don't have a macOS to test on, so not sure what to say here other than this looks like some sort of include issue(?)  cfe.h is included within the c_hdr list inside of src/list_of_files.cmake

[2020-11-12 18:45] jbathegit commented on #68
Maybe there's some additional compiler flag or option/setting that's needed under macOS, even though it's still the Gnu compiler?  Just asking b/c it works fine using Gnu 4.8.5, as well as under the more recent Gnu version in the CI environment.

[2020-11-12 19:02] kgerheiser commented on #68
It is a little strange. I don't see how `cfe` could not be present. It's included in `dlloctbf` at compile time.

[2020-11-12 19:27] aerorahul commented on #68
@kgerheiser I see it included when the library is compiled.

[2020-11-13 14:11] edwardhartnett opened #69 "make sure autobrief is turned on"
We want the first sentance of every documentation block treated as the "brief" description, which has special value in doxygen.

[2020-11-13 15:35] aerorahul commented on #68
Is there a timeline for this? Most of our DA developers are using a macOS and this failure in the library test is causing issues at our end.
May be put a warning that this library is not supported on macOS or disable the tests on `APPLE`

[2020-11-13 15:48] edwardhartnett opened #70 "CI needs to test on macOS as well as ubuntu"
CI needs to test on macOS as well as ubuntu. This is related to #68

[2020-11-13 16:03] edwardhartnett commented on #69
OK, this is already on in the docs.

I build the docs, and look at ireadmg.f (which has a brief tag).

Then I take out the brief tag, and rebuild the docs. The HTML is the same, the first sentence is correctly identified as the brief description without the brief tag.

[2020-11-13 17:27] kgerheiser commented on #68
My thought of what's happening is this:

`cfe` is extern, unless you're in `IN_INITTBF`

`dlloctbf` is being called by `EXITBUFR` (`cfe` is extern)

There is no call to `inittbf` (where `cfe` not extern)

We are using static libraries so only necessary symbols are resolved (no call to `inittbf` -> no `cfe` -> undefined symbol)

So there's this `extern` variable  with no matching variable definitio

[2020-11-13 18:38] #68 closed

[2020-11-13 19:10] #70 closed

[2020-11-13 19:43] jbathegit commented on #69
You're talking about JAVADOC_AUTOBRIEF=YES in the Doxyfile.in, correct?  Then shouldn't these brief descriptions also show up automatically in the "Files" tab in the HTML (i.e. in files.html)?  In other words, where it says "Here is a list of all documented files with brief descriptions:" shouldn't the brief descriptions all show up there as well, including for all of the subprograms which don't c

[2020-11-13 19:53] jbathegit commented on #69
I'm going to try something else, since we've now carefully separated the `@file` part of each docblock from the subprogram using a blank line, and since in this library pretty-much every file only contains a single subprogram.  In short, I'm going to try keeping the `@brief` tag, but move it up into the `@file` section and see if that makes it work...

[2020-11-13 20:24] jbathegit commented on #69
Yep, that seems to have done the trick!  So it was a simple matter of file vs. subprogram defined within the file, which was all one big docblock previously without that blank line separating the file section from the subprogram section in the docblock.  All good now, and sorry for any confusion!  I'll now confirm that this all still works without the actual `@brief` tags in each section.

[2020-11-13 20:27] edwardhartnett commented on #69
I have been playing with this too. It looks like we need the brief tag in the file section, but not in the subroutine section. Weird.

I will put up a PR with an example of what I mean...

[2020-11-14 01:59] jbathegit opened #74 "update CHANGELOG.md for new v11.4.0"
Also:

- rename CHANGELOG as Release Notes
- reorder content from newest versions (top) to oldest versions (bottom)
- display within GitHub.io web pages

[2020-11-15 21:25] jbathegit opened #75 "where does the content of LICENSE.md ever get displayed?"
I'm trying to figure out what this file is used for, since I don't see it being referenced anywhere in any other .md files, and I don't see it displayed anywhere on the GitHub web site.  The content seems important, but again I don't see where it's actually used or displayed anywhere.

Thoughts?

[2020-11-16 14:03] edwardhartnett commented on #75
It should be removed.

Where did it come from?

[2020-11-16 14:08] aerorahul commented on #75
The Licence is not shown until clicked.
But, on the NCEPLIBS-bufr github page, on the right hand column, one can see it listed in the About column.

We should not remove this file.
It is the LICENSE of the project, and is currently under LGPL 3.0

[2020-11-16 15:04] edwardhartnett commented on #75
Who decided to release the code under LGPL 3.0? Is that a NOAA legal department decision? Or a programmer decision?

[2020-11-16 15:05] aerorahul commented on #75
NOAA Legal.  Ask @arunchawla-NOAA

[2020-11-16 15:06] edwardhartnett commented on #75
OK, then we should leave it and probably put it in every repo so they're all the same.

[2020-11-16 15:07] aerorahul commented on #75
All NCEPLIBS repos already have LGPL 3.0 licenses.

[2020-11-16 15:14] edwardhartnett commented on #75
OK, so probably this issue should be closed.

[2020-11-16 15:16] aerorahul commented on #75
@edwardhartnett Actually, it may be still worth it to go through all and make sure the language and version of the License is consistent and same across all repos.

[2020-11-16 18:51] jbathegit commented on #74
@edwardhartnett if you get a chance, please take a look at https://emc.ncep.noaa.gov/emc/pages/infrastructure/bufrlib_jeff/html/index.html before our tag-up this afternoon.   Note that the generation of this beta website also addresses #69 and part of #48.  If you like what you see, I can submit a PR.

[2020-11-16 18:52] jbathegit commented on #74
I could also push the beta website up to the `gh-pages` branch as well - your call.

[2020-11-16 18:55] jbathegit commented on #26
Just curious - why do we need to do this?  The contents of README.md already show up in the https://github.com/NOAA-EMC/NCEPLIBS-bufr - do we want it to be displayed somewhere else as well?

[2020-11-16 20:58] edwardhartnett commented on #26
This is the README in the utils directory, which contains some documentation about utils...

[2020-11-16 21:56] aerorahul commented on #62
closed via #66

[2020-11-16 21:56] #62 closed

[2020-11-16 21:57] aerorahul commented on #61
closed via #66

[2020-11-16 21:57] #61 closed

[2020-11-16 22:05] jbathegit commented on #48
The URL for the external HTML documentation is now in the new UserGuide.md, as of PR #76

[2020-11-17 11:03] edwardhartnett opened #77 "Transition to DA build only"
Currently twe build a static and a dynamic allocation memory model.

Let's eliminate the static build and make the dynamic build the only build.

[2020-11-17 11:07] edwardhartnett opened #78 "Use F90 interfaces and kinds to handle 4/8/d build issues, and only build one copy of the library"
This will come after #77

Currently we build 3 flavors of the library, 4, 8, and D. Instead, use fortran interfaces and kinds to provide one library that handles all three cases.

Not sure when this should happen, we want to try this out on a simpler project first.

[2020-11-17 11:09] edwardhartnett opened #79 "Use modern fortran/C API"
I suspect from the inclusion of an "UNDERSCORE" flag that this build is using the old, non-standard way of calling between C and Fortran code.

Fortunately there is a standard way to do this now. Once we convert to it, we can remove the UNDERSCORE and all related shenanigans.

Not sure when this should happen. Probably after #78

[2020-11-17 11:32] edwardhartnett commented on #32
OK testing is now up to 60%, which is good progress!

I've attached the tarball with the coverage output. Here's the first page:
![image](https://user-images.githubusercontent.com/38856240/99385125-c117e300-288d-11eb-9334-d13da63cc33d.png)

[cov.tar.gz](https://github.com/NOAA-EMC/NCEPLIBS-bufr/files/5553145/cov.tar.gz)

[2020-11-17 11:33] edwardhartnett opened #80 "Figure out how to measure Python test coverage"
Well I used to know how to do this, so I've got to figure it out again. ;-)

[2020-11-17 15:30] aerorahul commented on #80
@edwardhartnett
I have some experience with `pytest` and `coverage` in python.
I can write a couple of examples and share, but I am not sure I can **take** this ON.

[2020-11-18 21:41] mathomp4 opened #81 "Possible Standards Violation in moda_mstabs.F"
All,

Recently I tried to compile the NCEP_bufr library in GEOS which led to an [issue with compiling with GCC 10](https://github.com/GEOS-ESM/NCEP_Shared/issues/16) with `moda_mstabs.F`:
[code]

Note: our version of this file is exactly the same as the one here.

Now, we are not compiling with `DYNAMIC_ALLOCATION` (for good or ill). Intel seems to not care (at least how we call Intel), but a work

[2020-11-18 21:43] tclune commented on #81
Section 18.1.3 Interoperability of intrinsic types in the F2018 standard:

"If the type is character, the length type parameter is interoperable if and only if its value is one."

[2020-11-18 21:53] edwardhartnett commented on #77
@mathomp4 you mention in #81 that you use the static build. Is there a reason why you prefer the static instead of the dynamic allocation build?

[2020-11-18 21:59] mathomp4 commented on #77
I prefer it only because that is how it was built in our CVS GNUmake build that we are moving to Git. And my mandate was to make sure all the flags were *exactly* the same (so we could get the same answer).

My guess is the new BUFRLIB was brought in and "things" were done until it worked (this was after I moved from maintaining the CVS/GNU build to our current Git/CMake). Maybe they didn't know a

[2020-11-19 22:38] #69 closed

[2020-11-19 22:38] #74 closed

[2020-11-19 23:55] mathomp4 commented on #77
@edwardhartnett I have a [reply from one of our devs](https://github.com/GEOS-ESM/NCEP_Shared/issues/17#issuecomment-730704449) which I'll quote here:

Now the `read_iasi.f90` code she is referring to is here: https://github.com/GEOS-ESM/GEOSana_GridComp/blob/4362b003de0db5759d96b800bade3a70607d655a/GEOSaana_GridComp/GSI_GridComp/read_iasi.f90#L417

I took a look and it looks like in your latest r

[2020-11-19 23:56] edwardhartnett commented on #77
Thanks @mathomp4 !

[2020-11-20 03:06] jbathegit commented on #81
What we're trying to do here is to declare Fortran arrays that can be directly accessed within C via the corresponding extern declarations within the header file mstabs.h  As you can see, these are arrays of character strings of fixed lengths of anywhere from 4 to 120 characters, and since this is a static build then the dimensions of all of these arrays are already known and fixed at compile time

[2020-11-20 12:46] tclune commented on #81
Yes - the intent of the code is clear, and this aspect of C interoperability has surprised me each time I run into it.

There is no issue per se with the declaration on the C side that you showed.   The construct can definitely be multidimensional.   It is just that you cannot equate a multi-character string in Fortran with an array of single characters.      I'm not aware of the technical reason

[2020-11-20 18:25] jbathegit commented on #81
OK, thanks for the suggestion @tclune, and I'll take a closer look at making those modifications to `moda_mstabs.F` and how impactful they would be on all of the corresponding Fortran source code.  It may not be too terribly tedious, though it will obviously require some extensive testing.

Furthermore, I'm not sure off the top of my head, but I think the ordering of multiple array indices is diff

[2020-11-20 18:29] tclune commented on #81
Your first suggestion should be right.   `CBSREF(JJ,II)` has the neighboring elements in the first dimension (`JJ`) .  And `cbsref[II][JJ]` has the neighboring elements in the "second" dimension (`[JJ]`).

[2020-11-20 19:10] #75 closed

[2020-11-20 19:11] edwardhartnett commented on #17
I believe this has been all resolved and @jbathegit has a recent set of code coverage numbers. I can regenerate them periodically, as more tests are added, whenever needed. I will close this issue.

[2020-11-20 19:11] #17 closed

[2020-11-20 19:47] jbathegit commented on #32
Thanks for this @edwardhartnett   This will definitely help guide me in developing future test codes.

One question - is there any way to get a similar listing for all of the C subprograms (or, better yet, be able to include all of those on the same diagram)?  I'd be curious to know what the numbers are for the C subprograms as well, and where we might want also want to add more testing for those.

[2020-11-20 19:54] edwardhartnett commented on #32
Not that I know of, but if you drill down into the file, you will see the code and can look manually at each subprogram.

What I generally do, in a test campaign like this, is first get basic testing for files that are at 0%, then I start looking for big blocks of unexecuted code (10s of lines) and target them.

After taking those two passes through the tests, the test coverage should be over 70%

[2020-11-25 00:45] srherbener opened #84 "Python API does not allow the use of a user python installation on Mac OS"
If a user has installed miniconda as an example, the cmake FindPython script, by default, prefers the macos framework python installation over any other, even when the PATH is set to point to the user's miniconda installation.

This breaks if for instance the frameworks python is version 3.7 and the users miniconda version is 3.8. (This is how the issue was found.) The setup.py build procedure for

[2020-11-30 16:46] #26 closed

[2020-11-30 17:01] #64 closed

[2020-11-30 17:33] #84 closed

[2020-12-18 22:09] aerorahul opened #87 "add utility to dump table."
Add another utility from @jack-woollen that dumps the bufr table from a file.

[2020-12-19 14:47] edwardhartnett commented on #87
Where is the test?

[2020-12-19 14:50] aerorahul commented on #87
I can add a test for this utility from Jack that used to live in some random directory.
None of these utilities have tests and used to be scattered.
The test should test dxdump, not this utility, btw.

[2020-12-19 15:13] edwardhartnett commented on #87
Tests are required for all additions to this repo. Please take this into consideration for all future planning of work on this and all other NCEPLIBS repositories.

Any programmer that does not have time to write the tests needs to manage their time and schedule better, in order to meet this well-defined and often-repeated requirement. Anyone who needs help or training in testing techniques should

[2020-12-19 15:26] edwardhartnett commented on #87
Here's a sample from netcdf-c in the ncdump directory. You see how it tests the ncgen and ncdump utilities, against each other, and also against a reference output file that is in the test directory, ref_tst_small.cdl.

[code]

[2020-12-20 16:12] aerorahul commented on #32
@edwardhartnett
Consider adding the utilities to the code coverage and testing.  Thanks!

[2020-12-22 14:56] aerorahul opened #89 "add utility to split bufr files by subsets."
The bufr files in the "dump" are a result of the `dumpjb` step.  Several bufr operations occur in this step; one of which is combining bufr files from the "tank" into a single bufr file in the "dump".  This is done by the obsprocessing code `combfr.f`.

`combfr.f` is a generic bufr utility that concatenates a number of bufr files into a single one and would ideally reside in NCEPLIBS-bufr.

This i

[2020-12-23 15:18] jack-woollen commented on #89
1) There's some issue here with nomenclature in comments concerning the distinction between a message type/subtype and a subset. A message type/subtype (lets say MTS for short) combination defines a subset template. For example the tag NC005064 is an MTS which will contain subsets defined by elements, operators and sequences found in bufr tables a, b, c, and d for that MTS . Each MTS file usually

[2020-12-23 15:22] aerorahul commented on #89
@jack-woollen
re. 2  The `split_by_subset.x` test fails because we have not uploaded the test files to the ftp directory.  Once it is uploaded, the test will pass.

My `bufr` is weak, so I don't fully understand the language.  I think what you are suggesting here is that this program is actually; `split_by_MTS` rather than `split_by_subset`.  subsets are still present in the split files.  Thanks f

[2020-12-23 15:43] jack-woollen commented on #89
It could be split_by_subset_type. I'd like to change some of the comments as well.

[2020-12-23 15:44] aerorahul commented on #89
@jack-woollen
Feel free to clone the branch and commit to it.

[2020-12-23 15:55] jack-woollen commented on #89
@aerorahul  Will do.

[2021-01-04 21:50] #87 closed

[2021-01-05 22:17] jbathegit opened #91 "test codes for utils programs"
As noted in the discussion for #88 , all sample programs under /utils need to have an associated test code under /test.  Currently, only gettab has an associated test code, so we still need them for readbp, readmp, binv, sinv, and cmpbqm at some point.

There's no specific deadline for this task; rather, this is just a placeholder for tracking this issue and for any further discussion or developme

[2021-01-08 17:05] #89 closed

[2021-01-11 15:08] edwardhartnett opened #93 "Test with gfortran 10"
We need to test with gfortran 10. Should be possible on Github actions.

[2021-01-11 15:55] kgerheiser commented on #93
Sure

[2021-01-12 16:15] #93 closed

[2021-01-12 16:44] jbathegit commented on #77
I was about to open a new issue to enable testing for all of the static and dynamic builds when I came across this issue which is still open.

@edwardhartnett can you tell me what the original rationale was for opening this ticket to eliminate support for static builds?  I'm not saying this couldn't be done at some point, but it's not something we should do without a lot of prior coordination, esp

[2021-01-12 16:54] jbathegit commented on #77
Just to clarify, and for backreferencing purposes, I was about to open a new issue (to enable testing for all static and dynamic builds) as a result of the discussion in #94 , before I noticed that this issue was still open ;-)

[2021-01-12 17:33] jbathegit commented on #77
Yes, I'm talking about "static memory" builds and not "static library" builds.  I realize those are two different things, as I noted in the discussion of #94

I wasn't aware that static allocation of memory was considered such a non-standard way of doing things, nor that studies have been done showing that dynamic allocation of memory isn't particularly expensive.  If that's the case, then again I

[2021-01-13 16:08] #81 closed

[2021-01-20 00:12] jbathegit opened #97 "use master tables in tables directory for testing, rather than legacy copies of same files from bufr.tar archive"
4 of the 10 example codes in test (specifically, test_IN_1, test_IN_4, test_IN_5 and test_OUT_4) use master BUFR table files, which as of today are now part of the distribution package within the new `tables` subdirectory.  Up until now, static copies of some of these same files have been provided separately within the `bufr.tar` archive file that is pulled from emcrzdm.

The goal now will be to h

[2021-01-28 19:11] rmclaren opened #99 "CTests Failing After Recent merges to NCEPLibs-BUFR"
Greg Thompson just noticed that a bunch of CTests are failing after the most recent updates to the develop branch... I updated my repo and got the same result he did. I'm using gcc version 9.3.

Test project /home/rmclaren/Work/NCEPLIBS-bufr/build
      Start  1: test_IN_1_4_DA
 1/20 Test  #1: test_IN_1_4_DA ...................***Failed    0.00 sec
      Start  2: test_IN_1_4
 2/20 Test  #2: test_

[2021-01-28 23:09] #97 closed

[2021-01-28 23:21] jbathegit commented on #99
Please try it again.  We had recently made updates to the `bufr.tar` archive on emcrzdm (which contains a bunch of fix files for the test process), but until a few minutes ago we had not pushed up the corresponding updates to the above 4 test codes which you noted as having failed.

So I think if you do a `git pull` to update your clone and then try it again, it should work now.  Please let me kno

[2021-01-29 14:27] rmclaren commented on #99
Seems to work now.

[2021-01-29 14:27] #99 closed

[2021-02-22 15:27] jbathegit opened #104 "verify output of test_IN codes"
Following last week's NCEPLIBS discussion, I went and did a deeper dive to confirm how the testing is currently working for the 5 test_IN codes (i.e. the non-utility codes which test the decoding/reading of canned BUFR files using different subprograms from the library).  As it turns out, the automated testing that was set up a while back is running these codes, but it's not actually verifying the

[2021-02-22 15:43] edwardhartnett commented on #104
Excellent catch! I will frequently write the test to fail at first, just to test that failure is caught appropriately...

[2021-02-22 17:25] #104 closed

[2021-02-22 17:58] jbathegit opened #106 "allow encoding of mnemonics which are larger than 32 bits"
A user reported that the software will not allow encoding of Table B elements which are greater than 32 bits.  This was discovered when trying to encode the Table D sequence F5FCWS (3-15-010) for drifting buoy data.  The sequence includes the Table B element SWDE (0-22-069), which has a native bit width of 22 bits but is then increased to 38 bits by the 2-01-144 operator that is also contained wit

[2021-02-22 18:08] jbathegit opened #107 "subroutine CHRTRN is no longer needed within the library and can be removed"
This need for this subroutine has been superseded by the long-time availability of subroutine CHRTRNA, which contains additional functionality.  As a consequence, CHRTRN is no longer called anywhere from within the library and can be removed.

[2021-02-24 18:45] jbathegit commented on #106
So it turns out the real solution here isn't to modify the library itself, but rather to just link the application program in question with one of the 8-byte integer builds of the library, because then all integers in internal memory are 64 bits wide, and the encoding works properly.  The user in this case was trying to link to a 4-byte integer build of the library.

But on a related note, I will

[2021-02-25 17:34] rmclaren opened #109 "Add standard WMO bufr file support to C/C++ interface."
Add mtinfo to C/C++ interface to support the reading of standard WMO Files by c/c++ apps.

[2021-03-02 22:11] #109 closed

[2021-03-03 14:03] edwardhartnett opened #110 "add automatic code coverage with gcov to github actions"
As in https://github.com/NOAA-EMC/UFS_UTILS/pull/380

[2021-03-03 14:22] jbathegit opened #111 "consider adding xbfmg utility to NCEPLIBS-bufr utils"
`xbfmg` is a WCOSS utility that breaks apart a file of BUFR messages into files of individual BUFR messages, so that they can be worked with individually rather than as one giant file.

re: [hpc-stack#176](https://github.com/NOAA-EMC/hpc-stack/issues/176), this utility may be useful enough to a wider audience that it makes sense to add it to the NCEPLIBS-bufr utils package, as was done previously

[2021-03-03 22:50] #106 closed

[2021-03-03 22:53] jbathegit commented on #107
Subroutine PKX is also now obsolete and can be removed.

[2021-03-08 14:49] aerorahul opened #115 "`debufr` utility fails to compile with clang."
The utility `debufr` fails to compile with `clang` on `macOS`.

The error message during compilation is:
[code]

[2021-03-08 15:20] #115 closed

[2021-03-08 22:09] rmclaren opened #118 "READMG subset string includes garbage."
The subset string returned from the ireadmg seems to include garbage which can not be removed with the Fortran trim command. Using the Fortran len or trim_len to determine the actual size of the subset string does not work either. The problem occurs for me in Fortran 90 when giving the ireadmg function a character array which is larger than the resulting subset string.

[code]
I got back the follo

[2021-03-08 22:15] rmclaren commented on #118
Here's some code to reproduce the problem:

[code]

[2021-03-08 22:30] rmclaren commented on #118
Please take a look at my original comment in #108

[2021-03-09 14:27] #107 closed

[2021-03-09 15:30] jbathegit commented on #118
Inside of ireadmg, the subset variable is explicitly declared as character*8.  So the maximum length of any subset identifier is 8 characters, and the function is designed to always return exactly 8 characters, left-justified with blank fill to the right if the subset identifier is less than 8 characters.  But this also means that you should never expect any valid content in characters 9 to len(st

[2021-03-15 20:06] jbathegit opened #123 "set default location of master BUFR tables during CMake"
Currently, the location of the master BUFR tables is hardcoded to '/gpfs/dell1/nco/ops/nwprod/decoders/decod_shared/fix' in subroutine bfrini.  This path is where these tables live on the WCOSS, and which is why anyone who wants to point to them elsewhere needs to use subroutine mtinfo to do so.  But what if we instead replaced that string with a macro, e.g. '@MASTER_TABLE_DIR@' and then renamed b

[2021-03-15 20:08] jbathegit commented on #123
There may be other/better ways to do this, but the possible solution mentioned above is the best idea I could come up with.

[2021-03-15 20:25] aerorahul commented on #123
A macro is an improvement over hard-wiring in the source code.
Note however that `CMAKE_INSTALL_PREFIX` is only a valid location after `make install`.
So, if a user `builds` but does not install, then the tables will not be present in the location prescribed by `CMAKE_INSTALL_PREFIX`.

This also does not solve the problem when the installed package is relocated. This is still hard-wiring a path in

[2021-03-15 20:58] edwardhartnett commented on #123
Are these tables installed with NCEPLIBS-bufr? Or is each installer supposed to provide their own tables?

[2021-03-15 22:28] jbathegit commented on #123
@edwardhartnett, yes these tables are installed with the package, in the tables subdirectory of `CMAKE_INSTALL_PREFIX`.  They are supplied as part of the distribution and are not provided by each user.

@aerorahul, the user always has flexibility by being able to call subroutine mtinfo to override the default path and point to any alternative path they choose.  But there needs to be some default p

[2021-03-16 11:48] edwardhartnett commented on #123
OK, if the files are installed with the package, is there a reason you can't use a relative path?

Please do not use or even consider an environment variable. That's not the way we do things.

If we need to set a value of a directory in the code, we can do that in the cmake stage by creating a .F90.in file, and then using variable substitution in that file to produce the .F90 file we need.

[2021-03-16 12:43] jbathegit commented on #123
That's exactly what I'm doing at the moment.  In all of the test codes a call to subroutine mtinfo is issued with path `../tables` and it works fine.  But in the library itself, what I'd prefer is to have the default directory path in subroutine bfrini be something other than the default path on the WCOSS, so that non-WCOSS users don't always have to use subroutine mtinfo to specify the location o

[2021-03-16 13:21] aerorahul commented on #123
relative paths means one will have to link the tables into the directory relative to the relative path "hard-wired" in the code.  How is that different than hard-wiring absolute paths.

Using a macro means the code is no longer relocatable.  How is that a good solution?

[2021-03-16 13:22] aerorahul commented on #123
@edwardhartnett can you give an example where "we" do things with environment variables in our code in any other system?

[2021-03-16 18:31] edwardhartnett commented on #123
@aerorahul I'm not sure what your question is.

We should not be using environment vars, other than the standard ones (CPPFLAGS, FCFLAGS, etc.) We don't want to build systems that depend on environment vars being set, like ESMFMKFILE, or NETCDF. It's not necessary and it's an extra burden on the end user for both documentation (i.e. they have to read it, which they don't usually), and implementati

[2021-03-16 18:36] aerorahul commented on #123
The env. variable will not be used in the build system.

[2021-03-16 18:43] edwardhartnett commented on #123
I do not know of any such example. I just don't want to introduce any.

[2021-03-16 18:44] aerorahul commented on #123
you don't want to introduce any because ...

[2021-03-19 14:50] jbathegit commented on #123
So..., what's the endgame here? ;-)  I'd like to push up a change to replace the WCOSS path in subroutine bfrini with a macro, as discussed earlier.  There will still be a default path in this subroutine, but at least it won't be the WCOSS path but instead will be whatever is defined as ${CMAKE_INSTALL_PREFIX} by the person who builds the package.  That way, it should greatly reduce the number of

[2021-03-19 15:00] edwardhartnett commented on #123
I think the proposed change is fine.

[2021-03-19 18:29] edwardhartnett opened #125 "Proposed new API for NCEPLIBS-bufr"
From @aerorahul :

[2021-03-19 18:30] edwardhartnett commented on #125
Transferring this converstaion here from email. @aerorahul are you suggesting a completely new set of code? Or some wrapper code for the existing library?

[2021-03-19 18:32] aerorahul commented on #125
@edwardhartnett
We won't be developing any new API or software in this repository, so a discussion here is moot.
A completely new set of code designed from the ground up is the need as will be demonstrated in the discussions.

[2021-03-19 18:33] edwardhartnett commented on #125
You will develop and maintain this new code forever? Or you will develop it and hand it off to us to maintain?

[2021-03-19 18:34] aerorahul commented on #125
Obviously we are hoping to co-develop, and hence the need for discussions before we take any action.

[2021-03-19 18:36] edwardhartnett commented on #125
And for maintenance?

[2021-03-19 18:36] aerorahul commented on #125
If we co-develop, we co-maintain.

[2021-03-19 18:37] edwardhartnett commented on #125
In terms of requirements, I see you were in C++. Is that your requirement? Or is this for Fortran code? Or something else?

[2021-03-19 18:39] aerorahul commented on #125
We would write the code in C++, and create fortran and python API's
The JEDI application using this code will primarily be C++.  But I see use for other applications who might want a Fortran or Python interface.

[2021-03-19 18:41] edwardhartnett commented on #125
So basically proposing a new bufrlib, written in C++. Would this be intended to replace NCEPLIBS-bufr? Would it support the existing Fortran API?

I didn't know you guys are using C++ on Jedi.

Normally I would think C would be the natural choice for a library such as this.

[2021-03-19 18:44] aerorahul commented on #125
Like I said, we are looking forward and not for existing applications.

We can take this another way, where we start putting issues here asking for the needs and interfaces and someone from this side will have to develop them and maintain them.  If that is preferred, I am sure we can repoint.

[2021-03-19 18:49] aerorahul commented on #125
The other alternative is to explore `eccodes` and see if we can co-develop with them.
`eccodes` is not without issues.

[2021-03-19 18:58] edwardhartnett commented on #125
I'm just trying to get my head around the proposal. ;-) Do you have a slideshow or anything?

Looking forward is good, but backward compatibility is also desirable. We don't want to have to maintain two completely different bufrlibs, right? That would be expensive. If there is to be a rewrite, then it would be great if it could handle existing functionality, so that existing code can be retired, a

[2021-03-19 19:09] aerorahul commented on #125
@edwardhartnett  We have a presentation ready to show.  That was the point of today's meeting.
We can revisit this discussion when the group decides they want to.

[2021-03-19 19:16] jbathegit commented on #125
I'm still trying to get my head around this as well, and I was hoping to learn more at today's meeting about what exactly you're proposing, and why the current library couldn't meet your needs even with a few possible tweaks and/or additional API functionality.

Bottom line is that I would caution you not to underestimate the intricacies of the BUFR format itself, nor the amount of work that @jack

[2021-03-19 19:26] rmclaren commented on #125
@edwardhartnett I do have a presentation I want to give to you guys (was going to do it today), but I wanted to go through it with you in person so i can adequately explain things (otherwise its just a bunch of slides with not much context).  It would also give you a chance to interject if there is a serious flaw in my thinking (I'm new to BUFR as well, but I've been studying it and am getting pre

[2021-03-19 19:29] aerorahul commented on #125
All points are fair. And we don't take it lightly at all. Also notice we have not started working on anything.  We have been making the necessary changes and adding interfaces to the existing library.  We have been asking for help and you have been generously providing it.
We have been exploring and identified some issues which, again, were supposed to be discussed at the meeting.

This was a meet

[2021-03-19 19:51] edwardhartnett commented on #125
OK, let's schedule the meeting for as soon as we can and I look forward to learning more about this.

[2021-03-23 14:11] rmclaren opened #127 "gettab.x generating table with incorrect subset information."
Basically the results of running gettab.x (which calls dxdump internally) seems to be generating tables which list incorrect subsets (Table A sequences). I've included the results for a recent satwnd buffer file (from March of 2021). From the table you will see that, for example, lists NC005015-18. These are mnemonics that correspond to GEOS data from 2014 and before (no longer used as far as I un

[2021-03-23 20:35] jbathegit commented on #123
So in looking at this some more, I think the approach I'd like to take is to add a new optional variable `MASTER_TABLE_DIR` that can be set using -D when running the CMake command.  This would allow the builder to install the tables somewhere other than `CMAKE_INSTALL_PREFIX/tables`, but I would still have it default to that value if cmake is run without `-DMASTER_TABLE_DIR=<somepath>`.  So this w

[2021-03-23 21:35] jbathegit commented on #127
I don't have access to hera, but I can take a stab at what I think is probably going on here...

First off, and as I mentioned during our telecon yesterday, dxdump can only ever dump information for the table that's currently in memory, corresponding to whatever is in scope for the current message and subset.  So if you wanted to see a printout for every subset in the file, you'd have to call subr

[2021-03-24 11:56] jack-woollen commented on #123
I'd get rid of the inc file.

[2021-03-25 11:54] edwardhartnett commented on #125
OK, we had the meeting and it was very interesting. @rmclaren if you want to attach the presentation you gave to this issue, that would be helpful.

Some comments about the meeting from @jack-woollen :

[code]

A reply from @jbathegit :+1:

[code]

[2021-03-25 12:20] edwardhartnett commented on #125
I propose an alternative plan:

* Add an F90 API to existing library.
* Use standard ISO Fortran to C to export that API to C, with some glue code to make a nice C API.
* Write a C++ layer on top of the C API.

@rmclaren what this would look like is we would jointly develop a nice C API, which does not have the advanced capabilities you envision, but serves up the metadata in a basic, but complete

[2021-03-25 14:10] rmclaren commented on #125
So I originally started down this path but I backtracked when I started to realize the interface layer I was designing around the  NCEPLIBS-bufr interface was more complex than it would be if I just went straight to the data and read it directly. The thing is to make what I want to do work, I really have to have intimate knowledge of the structure of the data, basically down to the level of the de

[2021-03-25 14:47] edwardhartnett commented on #125
For about the last 20 years, the consensus in the agile community is that rewrites from scratch are bad. Here's a seminal blog post which summarizes the reasons why, and gives plenty of famous examples: https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i/.

A key quote, which I think is applicable here:

NOAA, of course, will not fail as a software company would do. However

[2021-03-25 15:35] jbathegit commented on #123
A question for the CMake experts, including @kgerheiser as well:

As noted above, what I'd like to do is allow the builder to optionally specify `-DMASTER_TABLE_DIR=<somepath>` when calling cmake.  If specified, then ${MASTER_TABLE_DIR} would have the value <somepath>, but if unspecified it would default to a value of ${CMAKE_INSTALL_PREFIX}/tables which is the current practice.

I've tried the fo

[2021-03-25 15:51] aerorahul commented on #123
A default path variable will need to be defined and can be over-written by the user.

E.g.

[code]

Add this line in the top-level `CMakeLists.txt`.

The user can then provide `-DMASTER_TABLE_DIR=/path/to/install/tables` as an argument to cmake.

[2021-03-25 16:47] jbathegit commented on #123
Thanks Rahul - much appreciated!

[2021-03-26 17:02] jbathegit commented on #123
Hey Rahul, as I was coding this up I almost forgot about the recent update you made to the cmake/PackageConfig.cmake.in file.  As part of my forthcoming PR, would you like me to go ahead and change:

`set(@PROJECT_NAME@_TABLES_DIR "${PACKAGE_PREFIX_DIR}/tables")`

to:

`set(@PROJECT_NAME@_TABLES_DIR "@MASTER_TABLE_DIR@")`

to keep everything consistent?  Or, if there's a reason not to do this (or

[2021-03-29 16:35] jbathegit commented on #125
@rmclaren could you provide a copy of your presentation slides, preferably as an attachment to this issue?

I'll be the first to admit that there are some aspects of the library that could be improved.  But I'm still not convinced that a wholesale rewrite of the entire library is the best approach.  The core functionality works very well and has been honed and streamlined over many years.  It seem

[2021-04-01 16:46] rmclaren opened #130 "ufbrep, unideal behavior"
I think the following is intended behavior, but I just wanted to make note of it (please don't feel like you have to write an extensive reply to this issue).

So when reading radiance data (like MHS) the mnemonics CHMN and TMBR occur within the same fixed repeated sequence. The issue is that ufbrep will generate different results depending on the ordering of CHMN and TMBR (the ordering in the BUFR

[2021-04-01 16:54] rmclaren commented on #118
If this is true you should probably check the input and make sure the supplied character array is always exactly 8 characters (crash if it is not) as this will almost certainly result in unintended behavior.

[2021-04-01 17:26] jbathegit commented on #118
Not sure if that's necessarily a good solution, b/c I've seen application codes written in C which call readmg with a 9-character string, and then after the return they explicitly set the 9th character to a trailing null so the string can then be treated like a C string.  In my opinion, users should be allowed to pass in any size string they want, and based on the fact that the parameter is explic

[2021-04-01 17:31] jbathegit commented on #130
Yes, that is the intended behavior.  The first mnemonic in ufbrep is always treated like a pivot, so in your second case, the pivot is TMBR, meaning that the first CHMN it will return is the one between the first and second occurrences of TMBR, which in this case would then be the second occurrence of CHMN.

A more detailed discussion of this, including the concept of pivot mnemonics and the subtl

[2021-04-02 17:26] #43 closed

[2021-04-02 17:26] #123 closed

[2021-04-02 17:32] #130 closed

[2021-04-06 15:00] edwardhartnett opened #131 "Turn 11.4.0 into full release..."
It was released as a draft, but it has been used a little, so let's just go ahead and make it a release. That means:

* Release notes
* Do a github release (not just a tag, though this includes a tag)
* Documentation release to gh-pages branch to go with version
* Tarball contains everything needed to build and test (check for cmake files)

@jbathegit I would suggest that you assign this issue to

[2021-04-07 13:48] jbathegit commented on #131
Will do, though I may need a little hand-holding along the way since this will be my first release from GitHub.  Just want to make sure I don't miss anything important ;-)

[2021-04-10 01:47] jack-woollen commented on #125
A MODEST PROPOSAL FOR ACCOMPLISHING A BUFR TO IODA CONVERTER

After reading and rereading the materials for consideration, it strikes me we might be missing an obvious point here. Keeping in mind the primary objective is to produce BUFR decoder to IODA encoder software, it seems to me using the BUFRLIB as a basis for this is not at all necessary, or even desirable. All you need to begin with, is a

[2021-04-16 13:36] edwardhartnett commented on #110
I just did this for NCEPLIBS-ncio - I'll do it here while all the details are fresh in my mind. ;-)

[2021-04-20 13:51] edwardhartnett commented on #131
I think all you have to do is publish the release and update the docs...

[2021-04-20 16:56] edwardhartnett commented on #110
I just got this working and took a look at the current overal coverage: 66%

Impressive!

![image](https://user-images.githubusercontent.com/38856240/115435215-d9868380-a1c6-11eb-85f1-8727f93a345d.png)

[2021-04-20 16:58] edwardhartnett opened #135 "python tests don't work when code coverage flags are used?"
When I run the code coverage flags with python on, then the python tests fail. They should not.

Are the python tests doing something goofy like looking at text output?

[2021-04-20 19:12] #110 closed

[2021-04-20 22:00] jbathegit commented on #20
I haven't forgotten about this, but I'd like to get the (official ;-) 11.4.0 release out, so I'll work on this one as part of the next subsequent release.

It shouldn't be too difficult to replace all of the #ifdef UNDERSCORE defines with BIND(C) attributes on the corresponding functions, or something similar.

[2021-04-23 16:31] jbathegit commented on #20
Sorry, accidentally hit "Close" on this, so just re-opened ;-)

[2021-04-23 17:54] edwardhartnett commented on #131
OK, we did this.

[2021-04-23 17:54] #131 closed

[2021-04-23 17:55] edwardhartnett opened #137 "Release 11.5.0"
What needs to be done:
* update VERSION file.
* generate docs and update gh-pages
* update release notes
* do a pull request from develop to master branch.
* add issue to hpc-stack to update version

[2021-04-23 19:49] #137 closed

[2021-04-23 19:58] jbathegit commented on #48
This has been completed effective with the v11.5.0 release.

[2021-04-23 19:58] #48 closed

[2021-04-26 13:37] emilyhcliu commented on #125
Meeting summary from April 26, 2021
[NCEP NCEP LIB Refactoring Options by Ron Mclaren](https://docs.google.com/presentation/d/1gGd1PUI48A_j10BGYeCcwNIhi6J_yg3bgebrhrvOjlw/edit?usp=sharing)
Two options:
(1) C++ Rewrite --- on hold
(2) Extend existing library with Fortran 90+ style code --- selected for development

The estimated time for extending the existing library (option 2) is approximately tw

[2021-05-03 21:09] #118 closed

[2021-05-03 21:51] jbathegit opened #140 "restrict all Master BUFR Table entries to CCITT-IA5 character set, and allow up to 24 characters for Table B units"
WMO recently reiterated that all BUFR element names, unit descriptions and code/flag table entry descriptions are restricted to the CCITT-IA5 (i.e. ASCII) character set, because otherwise they cannot be encoded using Class 0 of Table B.  Many entries in the machine-readable versions of NCEP's current Master BUFR Tables currently contain UTF-8 characters such as subscripts, superscripts and other i

[2021-05-11 17:58] jbathegit opened #141 "binv utility does not work as documented"
As currently documented, the binv utility is to be run as `binv.x filename`, where `filename` is the name of the file to be inventoried.  However, this doesn't work as advertised, and in this case the executable just hangs in a perpetual waiting state.  This behavior was noted on both hera and on WCOSS/Dell.  Looking at the binv source code, it's doing a `read(5,'(a)') file` to get the filename, a

[2021-05-14 19:26] jbathegit opened #142 "generate new v36 master BUFR table files, and set new default output table version to 36"
WMO releases new versions of their master BUFR table every 6 months, and these in turn need to be reflected in updates to the tables subdirectory of the NCEPLIBS-bufr project so that the software can read any BUFR message encoded using the new version of the table.  The next version of the WMO master BUFR table will be version 36, effective June 15th, 2021, so we'll need corresponding new NCEPLIBS

[2021-05-27 19:52] jbathegit commented on #42
I'm taking a closer look at this one now.

I could certainly move the set() statements for fortran_src, c_src, and c_hdr from `list_of_files.cmake` to `CMakeLists.txt`, but it seems to me an even better solution would be to have `CMakeLists.txt` dynamically generate these lists, rather than having them hardcoded in the file and then having to update the file each time a new source or header file i

[2021-06-01 11:50] edwardhartnett commented on #42
Dynamically generated lists of code files sounds like an unnecessary complication and something that could easily go wrong.

Updating the build system each time a new file is added is normal, and not a heavy burden. Nor do I usually want to include every .h or .inc file in every build. (For example, some .h files will only be needed for compiling tests.) Also, as builds get more advanced, it's not

[2021-06-01 11:53] edwardhartnett commented on #42
I also seem to recall that this code has a convention of one subroutine per file. One thought would be to combine many files into fewer files, if that seems desirable...

[2021-06-01 12:55] kgerheiser commented on #42
Globbing files is not recommended:

https://cmake.org/cmake/help/v3.15/command/file.html?highlight=glob#file

"We do not recommend using GLOB to collect a list of source files from your source tree. If no CMakeLists.txt file changes when a source is added or removed then the generated build system cannot know when to ask CMake to regenerate. The CONFIGURE_DEPENDS flag may not work reliably on all

[2021-06-01 15:03] jbathegit commented on #42
Thanks for the feedback guys, and as suggested I'll go ahead and list everything explicitly in the CMakeLists.txt file.

[2021-06-01 19:05] #140 closed, assigned to jbathegit

[2021-06-01 19:05] #142 closed, assigned to jbathegit

[2021-06-01 20:14] jbathegit opened #144 "allow application code to check for previous occurrences of corrupt BUFR messages"
The RAP analysis failed on May 10th trying to read a RAP BUFR dump file.  When the dump was rerun everything was fine, and everything points to this being some sort of one-off operating system glitch where the reader encountered a partially-written BUFR message at the end of a BUFR tankfile.  The reality is that writing to BUFR tanks has always been asynchronous to jobs reading from those same tan

[2021-06-01 20:22] TingLei-daprediction opened #145 "An seemingly abnormal behavior in ipks.f of bufr lib called from GSI oneobmod.f90"
When running current GSI using the latest bufr lib (11.5.0 ) cloned from github, a seemingly abnormal behaivor in ipks.f was found which would cause "floating invalid " abortion of GSI when the later was built with debug mode. When running GSI with non-debug mode, the same behavior (same values for printed out var) was found though the GSI would run pass that point.
The problem is in FUNCTION IPKS

[2021-06-01 20:24] #145 closed, assigned to nobody

[2021-06-01 20:24] TingLei-daprediction commented on #145
Sorry, I will use my NOAA associated github account to open this issue.

[2021-06-01 20:29] TingLei-NOAA opened #146 "A seemingly abnormal behavior in ipks.f of bufr lib called from writsb in GSI oneobmod.f90"
When running current GSI using the latest bufr lib (11.5.0 ) cloned from github, a seemingly abnormal behaivor in ipks.f was found which would cause "floating invalid " abortion of GSI when the later was built with debug mode. When running GSI with non-debug mode, the same behavior (same values for printed out var) was found though the GSI would run pass that point.
The problem is in FUNCTION IPKS

[2021-06-01 21:33] jbathegit commented on #146
Hello, and sorry you're experiencing a problem.  I'm also bringing @jack-woollen into this discussion in case he may be able to help.

For my part, I'm having trouble understanding the problem without some more information.  For one thing, it looks like IPKS is being called with a value of 1000000000.0 (=10E10), which is the default "missing" value in the library.  However, the only place that IPK

[2021-06-01 21:55] TingLei-NOAA commented on #146
Jeff,
Thank you so much!
Yes, seems you already identified where the problem came from.  Those
values (1E9) are from the missing values set up in the GSI.  I changed it
to 1E10 in case 1E9 is not recognized by bufr lib ,  it is still the case:
that missing value also caused the problem.
The bufr table i am using is
/scratch2/NCEPDEV/fv3-cam/Ting.Lei/dr-regional-workflow/regional_workflow//sorc/reg

[2021-06-01 22:50] TingLei-NOAA commented on #146
Hi, Jeff,
An update, tracing the IBFMS function you pointed to, seems in my run, in
bufr , the missing value used in ibfms  is 1E11, while, in GSI, there are
compiler options as
^
#ifdef ibm_sp
  real(r_kind), parameter:: emiss = 1.0e11_r_kind
#else
  real(r_kind), parameter:: bmiss = 1.0e9_r_kind
#endif
V
  It is the bmiss=1E9 that was used which caused the problem.
I would see (maybe consult wit

[2021-06-03 15:11] jbathegit commented on #146
Hi Ting,
The proper way to do this sort of thing is to have the application code call subroutine [setbmiss](https://noaa-emc.github.io/NCEPLIBS-bufr/setbmiss_8f.html) to set a custom "missing" value within the NCEPLIBS-bufr library.  The code can also call subroutine [getbmiss](https://noaa-emc.github.io/NCEPLIBS-bufr/getbmiss_8f.html) at any time to check what the current "missing" value is set t

[2021-06-03 16:07] TingLei-NOAA commented on #146
Jeff,
Thanks a lot.  I agree.  That is the good way to do that.  I will follow
your suggestion on this.
This issue can be closed.
Again, really appreciate your prompt help!
Ting

______________________________

Ting Lei

IMSG at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Cubicle 2765

College Park, MD 20740

***@***.*** ***@***.***>

301-683-3624

On Thu, Jun 3, 2021 at 11:12 AM Jeff Ator **

[2021-06-03 17:37] #146 closed, assigned to nobody

[2021-06-04 21:16] #42 closed

[2021-06-24 08:05] edwardhartnett opened #148 "Start adding links to GitHub issues in releases, also refer to GitHub project"
In our future releases, we should add links to closed issues in our list of new features. Also, we should include a link to the appropriate github project. See https://github.com/NOAA-EMC/UFS_UTILS/releases/tag/ufs_utils_1_5_0 for a good example.

Basically, we want users to be able to click through to find out every issue associated with a release. They don't all have to be listed in the release,

[2021-06-27 09:21] nuitlejour opened #149 "python api does not build"
when I turn on the 'option(ENABLE_PYTHON "Enable building python module 'ncepbufr'" ON)' in CMakeLists.txt, python api tests all failed, rest of the tests are OK.

[2021-06-27 09:27] nuitlejour opened #150 "[improvement] manual test data download"
during make step, process 'stuck' at 100% without showing any message, after a little digging around, I found it's downloading 239M test file bufr-11.6.0.tar.
it is possible to setup an option to choose the test file when I already downloaded manually?

[2021-06-27 09:29] nuitlejour opened #151 "[improvement] selective build of "4", "8", "d", "_DA" version"
default build compiles all type/size combinations, it is possible to make an option to build only one of the configurations?

[2021-06-27 11:52] edwardhartnett commented on #151
Instead we plan to provide properly overloaded fortran functions so that only one build is required, and it handles all necessary types.

[2021-06-28 09:33] nuitlejour commented on #150
[update] you can manually copy bufr-11.6.0.tar to test folder, make process will skip download this test data.

[2021-06-28 15:07] edwardhartnett commented on #150
OK, but it should still work if we don't do that...

[2021-06-28 15:08] edwardhartnett commented on #149
Did you get this to work? What was the problem?

We want this to work out of the box, so if it doesn't, let us know why and we can fix...

[2021-06-29 01:27] nuitlejour commented on #150
thank you for the tip, my internet connection is very unstable, it takes about 10 minutes to download the test data, adding an download prompt will be nice.

[2021-06-29 02:05] nuitlejour commented on #149
I think the problem arise from my conda python environment. the python in conda is compiled by gcc 9.3, and I am using fedora 34, which is gcc 11.1.
the work around I found is: install gcc/gfortran in my conda environment and specify -DCMAKE_Fortran_COMPILER, -DCMAKE_C_COMPILER to my conda gcc/gfortran.

[2021-06-29 02:11] nuitlejour commented on #151
thank you!

[2021-06-30 12:48] #151 closed, assigned to nobody

[2021-06-30 12:49] #149 closed, assigned to nobody

[2021-06-30 12:49] edwardhartnett commented on #150
The way this should work is for the download script to look for the test files, if not found, they should be downloaded. If found, no download needs to happen.

[2021-07-27 15:46] edwardhartnett commented on #78
@jbathegit when do we think this issue will be addressed?

[2021-07-27 19:22] jbathegit commented on #78
@edwardhartnett I honestly have no idea.  I haven't had any time to work on NCEPLIBS-bufr updates in the past couple of months, and I'm not sure how soon I'll be able to get back to it.  I'd certainly welcome any help if someone else wants to work on this in the meantime.

[2021-07-30 19:34] aerorahul opened #152 "bugfix on pdoc."
`pdoc` syntax has changed and needs to be updated.

[2021-07-30 19:35] aerorahul opened #153 "Include python API documentation from main documentation page."
The main page of the documentation does not contain the python API documentation.

[2021-08-02 17:57] #152 closed, assigned to nobody

[2021-08-02 17:57] #153 closed, assigned to nobody

[2021-08-03 19:47] jbathegit commented on #135
I think this may be a systemic issue that depends on more than just whether or not code coverage flags are used.  I don't normally run with those flags, because I do most of my work on the WCOSS using the Intel compilers, and in fact I don't even normally test with Python enabled.  But I did try testing this library using `-DENABLE_PYTHON=ON` yesterday on the WCOSS, after manually loading in the p

[2021-08-17 16:45] GeorgeVandenberghe-NOAA commented on #150
Ed, I just ran into this on Jet which does not have curl connectivity to EMC.   Bufr doesn't build and I needed (maybe still need) Rahul's help to find that test data issue)  I take a little different tack.. Download-only=Y in the stack configuration should download this and it doesn't because the test data download happens in the build, not the repository clone.

[2021-08-17 17:23] GeorgeVandenberghe-NOAA commented on #150
I got bufr to build BTW by getting rid of the test section in test/CMakelists..txt.  Wgrib2 has the download issue and I suspect DOWNLOAD ONLY on another machine, will rectify that.   I jump on stack failure to build issues because I am always afraid someone will ask me to build it on some machine out in the internet sticks with a weird configuration to support some rapidly escalating management p

[2021-08-18 18:17] GeorgeVandenberghe-NOAA commented on #150
The way it works now is the bufr build fails and that stops the hpc-stack build.  It's not the fault of hpc-stack.  The manual fix is to go to the hpc-stack pkg/buf*/build/test directory and get bufr.tar to it somehow.  I just got an offline copy from hera and copied it.   Once this is done go to ../ and type make and make will proceed with the test and the bufr build will complete.  Meanwhile bac

[2021-08-18 19:05] edwardhartnett commented on #150
Lets add an extra target, extra_test, which will require the downloaded files. The test target will only run tests that don't depend on any data file. That way we can still run the tests in our CI, but hpc-stack will not be bothered with them...

[2021-08-18 19:30] GeorgeVandenberghe-NOAA commented on #150
This sounds good.   It's a general issue in builds that require additional connectivity to complete the build which defeats downloading what's needed on well connected machine A and transferring the stuff to machine B which has blocked connectivity to repositories or other external sites.

[2021-08-19 07:57] delick opened #157 "Count the number of messages in BUFR file and then read all messages into internal array"
Is there a function to count the total number of messages in a single BUFR file? I tried to open the bufr file, loop over messages to get the number first, but when I proceed to read all messages to memory using `ufbmem`, a segmentation error occured:

[code]

in `Main.F90`
[code]

in `utils.F90`
[code]

[2021-08-20 15:54] #77 closed

[2021-08-20 16:10] aerorahul commented on #135
It is likely that when `creating the python API, the code coverage flags need to be included, and are likely not.
I am not sure I will get to this anytime soon.

[2021-08-20 16:17] jbathegit commented on #80
We should also figure out a way to measure C test coverage.  The gcovr utility doesn't currently measure the C portion of the library either; rather, it only does the Fortran portion.

[2021-08-20 17:09] jbathegit commented on #157
I can only speculate here without seeing more details about the SIGSEGV, but here are a couple of things I noticed:

1. Some systems require a rewind before attempting to open and read the same file a second time within the same run of an application program.  Maybe try adding a `rewind(unit_in)` statement prior to the second `open` statement?
2. I see you're calling `ufbmem` with the 2nd argument

[2021-08-20 18:17] edwardhartnett commented on #80
@jbathegit the spirit is willing, but the flesh is weak. ;-) However gcovr works equally with C code, it just needs to be pointed at the correct subdirectories...

However, if you can figure this out, we will happily use it on the other projects.

[2021-09-08 16:14] kgerheiser opened #161 "Need to set CMAKE_C_ARCHIVE_FINISH for macOS"
This line runs `ranlib -c` on macOS to make common symbols (i.e. module variables) visible to the linker.

 https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/192731bdeccb1337c90112b34734edba98beafd0/CMakeLists.txt#L44

Need to also add `CMAKE_C_ARCHIVE_FINISH` because there is some C code in the library as well.

I ran into this when building MET and had a bunch of undefined symbols.

[2021-09-08 16:31] #161 closed, assigned to kgerheiser

[2021-09-13 12:29] jbathegit commented on #157
Closing this issue due to lack of further response from the user.

[2021-09-13 12:29] #157 closed, assigned to nobody

[2021-09-15 13:44] #150 closed, assigned to nobody

[2021-09-16 16:59] jbathegit opened #164 "updates to bufrlib.h header file"
1.  In the C function prototypes, change the types of all of the string length arguments (which are needed when passing string arguments from C to Fortran) from "int" to "size_t".  Corresponding C function calls typically use the return values of strlen() or sizeof() to pass the argument lengths, and those return values are unsigned.  So "size_t" is more appropriate for those prototype declaration

[2021-09-17 23:32] jbathegit opened #165 "change rjust.f from a function to a subroutine"
This function right-justifies a string in place.  For some (historical?) reason, it was implemented many years ago as a function rather than a subroutine.  However, at present it always returns a dummy value of zero, which in turn is never used within any of the other library subprograms from which the function is called.  To simplify the code everywhere and stop using unnecessary memory space, it

[2021-09-28 21:28] #164 closed, assigned to jbathegit

[2021-10-01 16:12] #165 closed, assigned to jbathegit

[2021-10-08 14:38] jbathegit opened #170 "subroutine ufbpos only works for BUFR messages containing embedded subset byte counters"
Subroutine UFBPOS allows a user to jump forwards or backwards within a BUFR file to a specified message number and subset number within that message.  According to the documentation, this should work on any type of message within a BUFR file; however, during testing, it appears to only work for messages which contain embedded subset byte counters which are encoded using NCEP local descriptors.  In

[2021-10-15 22:26] aerorahul opened #172 "bufr-config.cmake is expecting DA targets."
DA targets were removed, but the `cmake/PackageConfig.cmake.in` was not updated.
As a result, `find_package(bufr)` fails with the following error:
[code]

[2021-10-16 00:19] #170 closed, assigned to jbathegit

[2021-10-16 00:41] #172 closed, assigned to nobody

[2021-10-20 19:39] jbathegit opened #174 "increase maximum [path/]filename length for input to COBFL"
A WCOSS2 user has asked if we could increase the maximum allowable [path/]filename length of a BUFR file that can be passed in to subprogram COBFL.  The limit is currently set to 100 characters, and the user has requested an increase to 150 characters.

[2021-10-20 20:01] kgerheiser commented on #174
Instead of coding hardcoding 100 or 150, can you use the Posix constant `PATH_MAX` in `#include <limits.h>`?

[2021-10-20 20:33] jbathegit commented on #174
I suppose I could, but that's equivalent to 4096 on the WCOSS, which I think is way too big, especially in case I need to echo this value back out in an error string.

I also checked `FILENAME_MAX` in <stdio.h>, but that's also set to 4096.

[2021-10-20 20:35] aerorahul commented on #174
use `trim()` to remove blank space from the string.

[2021-10-20 20:40] jbathegit commented on #174
Thanks, but this is C code, not F90.  And I can't just use something like strlen(), because the subprogram is callable from Fortran, which means there may not always be a trailing NULL.  So what the code does now is loop through the input string and use !isspace() and !iscntrl() to know where to set the trailing NULL.

[2021-10-20 22:14] jbathegit commented on #174
I decided to just bump it to 200.   That should be plenty large for all practical purposes, and if people still need longer names within their application codes, they can always change filenames or working directories within their scripts, or just use symbolic links.

In other words, there are always options at the OS level to shorten the length of the [path/]filename that actually gets passed in

[2021-10-21 14:13] #174 closed, assigned to jbathegit

[2021-11-03 21:40] jbathegit opened #177 "add new version 37 updates to WMO master BUFR table"
WMO releases new versions of their master BUFR table every 6 months, and these in turn need to be reflected in updates to the tables subdirectory of the NCEPLIBS-bufr project so that the software can read any BUFR message encoded using the new version of the table. The next version of the WMO master BUFR table will be version 37, effective November 15th, 2021, so we'll need corresponding new NCEPL

[2021-11-04 10:52] edwardhartnett commented on #177
Is the same true for GRIB2 tables? Where do you get this info?

[2021-11-04 14:29] jbathegit commented on #177
Yes, the GRIB2 tables also get updated by WMO every 6 months.  The machine-readable (xml) tables are at https://community.wmo.int/activity-areas/wis/latest-version.

[2021-11-04 14:32] jbathegit commented on #177
I don't think our g2 library reads in the tables as external files.  I seem to remember at one time everything (parameter names and numbers, etc.) had to be hard-coded into the source code, but not sure if that's still the case(?)

[2021-11-04 14:33] #177 closed, assigned to jbathegit

[2021-11-08 21:31] jbathegit opened #180 "new release 11.6.0"
What needs to be done:

* increment number in VERSION file
* generate docs and update gh-pages branch with the new html
* update release notes, in both GitHub and in ReleaseNotes.md
* do a pull request from develop to master branch, linking this issue
* create a new hpc-stack issue to incorporate this new version

[2021-11-09 10:12] edwardhartnett commented on #180
What we have been doing elsewhere is just deleting the master branch altogether. It's not needed.

[2021-11-09 10:13] edwardhartnett opened #181 "delete master branch"
We are deleting the master branch of all NCEPLIBS repos.

develop will remain the development branch as it has been.

@jbathegit perhaps you would like to do this...

[2021-11-09 14:37] jbathegit commented on #181
I'm willing to do this, but it says the master branch is protected and can't be deleted(?)

[2021-11-09 14:42] kgerheiser commented on #181
You can change branch protection rules in repo settings.

[2021-11-09 14:46] jbathegit commented on #181
Yeah, I did a lookup in Settings->Branches->Branch Protection Rules->Master, and it looks like I can just delete the rule.  I'll give it a try...

[2021-11-09 14:49] jbathegit commented on #181
OK, it's done!

[2021-11-09 14:49] #181 closed, assigned to nobody

[2021-11-09 14:52] jbathegit commented on #180
master branch is now deleted, re: #181

[2021-11-09 21:55] jbathegit commented on #180
All of the above steps have been completed.  The release has now been published, and an hpc-stack ticket has been opened (see https://github.com/NOAA-EMC/hpc-stack/issues/362)

[2021-11-09 21:55] #180 closed, assigned to jbathegit

[2021-11-09 23:34] jbathegit commented on #148
All done in new bufr_v11.6.0 release, and next draft release has now been established as bufr_v11.7.0

[2021-11-09 23:34] #148 closed, assigned to jbathegit

[2021-11-24 15:25] kgerheiser opened #182 "Line truncated error in bfrini.f90 when using long paths"
I'm building bufr inside of Spack which contains long paths and building with GCC fails with:

[code]

That is because of the include of `@MASTER_TABLE_DIR@` in `bfrini.f90`:

https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/3f2e10bdfa3c6ef179e9e0e9ffb03287b3eba31a/src/bfrini.f90.in#L285

The Fortran standard limits line lengths to 132, but it's possible for a filesystem path to be longer than this.

[2021-12-09 13:49] edwardhartnett opened #183 "add support for multiple versions of the documentation"
See https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/126

[2022-01-13 23:49] jbathegit commented on #78
@edwardhartnett @aerorahul @rmclaren @kgerheiser @jack-woollen

I've spent a bit of time looking into this.  I've come up with a prototype that will work, but there are a couple of issues as noted below.  For example, let's say I have an existing Fortran-77 library routine named writsa which has the following call signature:

`call writsa( lunxx, lmsgt, msgt, msgl, xval, yval)`

and where all of t

[2022-01-14 00:19] kgerheiser commented on #78
As you note there's no silver bullet when doing this in Fortran. Hopefully, a native method will be included in the next Fortran standard.

But for now another way to overload the method would be to overload `writsa_f` directly eliminating the need to copy data and then call the function. To do this directly in Fortran you would have to copy and paste all the code in three different places.

A met

[2022-01-14 02:57] aerorahul commented on #78
As @kgerheiser notes, Fortran does not support templates.
Another possible approach would be to write the main code in a language that supports templates e.g. C++ and provide Fortran interfaces.

[2022-01-14 20:38] rmclaren commented on #78
Ive never used it but fypp (https://fypp.readthedocs.io/en/stable/fypp.html) seems to be a popular way to address these kinds of issues. I noticed that some JCSDA code uses it. Its a little ugly in my opinion but anyways...

[2022-01-16 14:52] edwardhartnett commented on #78
I'm not in favor of bringing in any new tools like fypp. In fact, I strongly oppose the idea.

There is always a strong urge to attempt to change Fortran in some way to overcome it's many shortcomings. (For example the UFS apparently has a home-rolled python to Fortran translator). In my experience, none of these band-aids on Fortran bring long-term benefit to the organization.

For example, we wo

[2022-01-16 15:03] edwardhartnett commented on #78
I would be in favor of moving the core of this library (in a gradual way) to C. I think C++ is not really needed, and is much harder for Fortran programmers to learn and consequently harder to staff.

(It should not be assumed that any Fortran programmer can instantly learn either C or C++. There is a steep learning curve, especially when it comes to pointers and object oriented programming, which

[2022-01-18 15:46] rmclaren commented on #78
You don't need C to do this... You could have a "private"  function as follows:
[code]

Define the interface
[code]

[code]

[2022-01-18 23:28] jbathegit commented on #78
Thanks everyone for your feedback and suggestions!

First of all, and to answer the question from @edwardhartnett, yes I'm proficient in C, but not so much in C++.

Secondly, a question for @rmclaren - in your example `writsa_d`, how does any actual space for the local variable `_msgt` get allocated?  I see where you're declaring it as an array, but I don't see where you've actually allocated it t

[2022-01-20 21:00] jbathegit commented on #78
@edwardhartnett @kgerheiser @rmclaren @aerorahul @jack-woollen

Digging further, the undefined reference is due to the `writsa` reference being defined in the interface statement, which in turn is defined inside of a module, so I just have a `use modi_writsa` to bring it into scope within my simple test program.  But when I'm building the NCEPLIBS-bufr library via CMake, there's no corresponding m

[2022-01-20 21:13] kgerheiser commented on #78
There has to be a `use <module>` somewhere. For users there would be a single public facing module, which re-exports all the internal modules, like:

[code]

And internally, each piece of code would use the individual modules that it needs.

[2022-01-20 21:49] jbathegit commented on #78
Thanks @kgerheiser, and yeah I did think of something like that, but I was hoping there might be some way for every user to not have to add any such new directive to their application code, or even worse within every individual source file of their code where any NCEPLIBS-bufr routine ever gets called.

I guess I was hoping there might be some sort of generic Fortran structure that I was overlooki

[2022-01-20 23:51] jbathegit commented on #78
Another issue I see with a single public-facing Fortran module such as `bufr_mod` is that any user trying to access NCEPLIBS-bufr from within application code written in C or Python would be out of luck.  In other words, how are they going to be able to add a `use bufr_mod` to their application code if their code isn't Fortran?

[2022-01-21 01:01] kgerheiser commented on #78
@jbathegit you can still interface with C by using `bind(c)` and `iso_c_binding` types.

[2022-01-21 02:01] jbathegit commented on #78
I'm confused.  Given the above example module `modi_writsa`, how would I reference the name `writsa` from within C code?  As far as I know, I can't add the `bind(c)` attribute to a name defined in a Fortran interface statement.

In other words, `interface writsa bind(c)` doesn't work, so how would I do this?

[2022-01-24 13:12] edwardhartnett commented on #78
How important is this? I would say quite important.

Right now we are doing this 4/8/d thing, which is a NOAA special - I've never seen anyone else do this or even try it. So we are well outside the normal with this.

Heading further down the road with 4/8/d is just putting off the problem. I have outlined a solution in C - can this work?

[2022-01-24 13:46] aerorahul commented on #78
Before this library is refactored/rewritten, what does the future use of BUFR look like in our systems and in general with the development around us?
Who are the primary users of this and the new library? What are their needs?
Is this library needed in the future or can it be combined with other existing solutions?

[2022-01-24 14:01] edwardhartnett commented on #78
I have heard the desire to phase out GRIB1 (although this still has not been achieved). There has been no talk of getting rid of BUFR, has there?

Our goal is to have world-class software so scientists can do world-class science. We will do whatever programming work we need to do, in order to achieve that.

If that means extra programming... well, we are programmers. It's what we do all day, every

[2022-01-24 14:16] aerorahul commented on #78
BUFR is not going anywhere. I am talking about use of bufr, not about its existence.

[2022-01-24 14:54] edwardhartnett commented on #78
OK, so this is our bufr solution for NOAA for the next several decades.

At the moment I am working hard on the GRIB libraries, and that will take some time. @jbathegit if you want to defer this entire conversation until I have free time to come help NCEPLIBS-bufr with this conversion away from 4/8/d, that's fine.

We are doing this for other libraries, and will learn as we go. So let's table this

[2022-01-24 14:56] jack-woollen commented on #78
I'm wondering how many codes use the 8 or the d version. And why.

On Mon, Jan 24, 2022 at 9:02 AM Edward Hartnett ***@***.***>
wrote:

[2022-01-24 18:11] jbathegit commented on #78
@aerorahul raises a good question that I've raised myself in the past, which is what the future of BUFR looks like in our systems?  He's correct that BUFR isn't going anywhere, and in fact we'll definitely continue receiving BUFR observational data from the outside world for many years/decades into the future.  So we're always going to need to have software to be able to read and write BUFR when i

[2022-01-24 18:46] jack-woollen commented on #78
The bufrlib inputs and outputs are all already 8 bytes. You don't need
different libraries for that.

On Mon, Jan 24, 2022 at 1:11 PM Jeff Ator ***@***.***> wrote:

[2022-01-24 19:38] jbathegit commented on #78
@jack-woollen please clarify what you mean by this.  Specifically, when a user application calls, e.g. `SUBROUTINE WRITSB(LUNIT)`, how does the subroutine know whether LUNIT was declared (or compiled) as a 4-byte or 8-byte integer in the calling program?  This isn't mandated in the library itself, which just lets it be implicitly declared as an integer.  Similarly, when an application code calls `

[2022-01-24 20:57] jack-woollen commented on #78
@Jeff Ator - NOAA Federal ***@***.***>

Okay, two different things.

1) When you say " there are a handful of newer BUFR descriptors whose range
of values don't fit into 32 bits and therefore do require 8 bytes, and
which is why I've suggested making that the new default and just tailoring
all newly-developed interfaces to that build", I'm just pointing out that
the bufr range of values which need

[2022-01-24 22:39] CoryMartin-NOAA commented on #78
Even if we still use BUFR files for archival/direct input to JEDI/IODA, that should still greatly simplify the codes that use BUFR libraries, no? We are already in the process of removing preprocessing (prepobs, etc.) code to put everything in JEDI UFO, so I think it's important to look at this with the lens of one unified software system (written in C++) will handle observation ingest once legacy

[2022-01-24 22:48] CoryMartin-NOAA commented on #78
Also to comment on @edwardhartnett 's quote "OK, so this is our bufr solution for NOAA for the next several decades." I think that is a chilling thought. This current BUFR library has pieces old enough to run for senate. This warrants thought on what the BUFR library at NCEP will look like in 2040.

[2022-01-24 22:55] jbathegit commented on #78
One issue is that, even though the REAL\*8 USR arrays are explicitly declared as 8-byte, a lot of the behind-the-scenes stuff is still just implicitly-defined integers.  For example, in subroutines `RDTREE` and `WRTREE`, any such REAL\*8 values are unpacked and packed internally via the implicitly-defined IVAL array, so in 4-byte integer builds we still can't handle any value that needs more than

[2022-01-24 23:42] jbathegit commented on #78
I hear you @CoryMartin-NOAA, and a completely new library could certainly be developed in a more modern language and with a more modern design, so I'll reply by just making the same point I made several months ago when someone else suggested the same thing.  Simply put, and before we collectively go down that road, just please don't underestimate the amount of effort that would be involved in deve

[2022-01-25 02:56] jack-woollen commented on #78
After some dinner and a little more thought I did realize the real numbers
in the bufrlib internals should all be 8 bytes. But, I don't think that's
equally true for integers, so I'd change my focus to bufrlib_d. In terms of
numbers of codes that wouldn't need to change, bufrlib_d would likely work
as is with all current bufrlib_4 users as well as all current bufrlib_d
users. That has to be the la

[2022-01-25 13:16] edwardhartnett commented on #78
Wow, lots of great discussion here. To address a few strategic points:
1. Switching applications from BUFR to netCDF would make sense. Switching from BUFR to some Jedi specific proprietary format would be a step in the wrong direction. BUFR, for all it's faults, is a well-understood international standard.
2. Just because NCEPLIBS-bufr is old does not mean it should be rewritten from scratch, cert

[2022-01-25 13:22] edwardhartnett commented on #78
As I reread all the discussion here, it's starting to seem like the C solution is the way forward. If this cannot be done easily in native Fortran, it certainly can be done in C with Fortran wrappers...

[2022-01-25 13:29] aerorahul commented on #78
I think that would be a mistake and a huge waste of time and effort.
But, what do I know, right.

[2022-01-25 13:44] edwardhartnett commented on #78
@aerorahul can you please describe which idea you think would be a huge waste of time and effort?

[2022-01-25 14:01] CoryMartin-NOAA commented on #78
@edwardhartnett JEDI IODA 'format' is either netCDF4/HDF5 or "ODB" (developed by ECMWF) with a particular group/file structure. It can be read/written by any HDF5/netCDF4 tool as far as I am aware.

We 1000% need BUFR for the foreseeable future. It is the WMO standard for observation storage/transmission.

Regarding 'backwards-compatibility', I ask, who are the users of NCEPLIBS-bufr? Are there ot

[2022-01-25 14:22] edwardhartnett commented on #78
OK, we all agree that BUFR format is here to stay.

The NCEPLIBS group has no mandate or interest in trying to rewrite NCEPLIBS-bufr from scratch, so if anyone wants to attempt that, we wish them luck but cannot offer much programming help. And any such replacement library would have to reach a high state of readiness before we could switch to it, which is not likely to happen soon, or at all. So

[2022-01-25 14:28] CoryMartin-NOAA commented on #78
@edwardhartnett see here: https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/inside/jedi-components/ioda/index.html and https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/inside/conventions/files_and_components.html

My $0.02 is that we need a library that can be flexible enough to read any BUFR file with minimal dupli

[2022-01-25 14:51] jamiebresch commented on #78
In my opinion, the biggest disadvantage to JEDI over GSI is that users have to carry a huge load of hard-to-manage yaml settings for every single run.

[2022-01-25 14:53] CoryMartin-NOAA commented on #78
@jamiebresch I don't disagree. Individually, YAML files are great. But the 50k line concatenated monster that goes into the executables is less than ideal. For @rmclaren 's converter, the YAML is straightforward, but the UFO QC YAML is often unwieldy. But that's a discussion for a different venue.

[2022-01-25 17:00] aerorahul commented on #78
@jbathegit @jack-woollen
What are the currently used applications (that you know of) that leverage the NCEPLibs-bufr library.
I am aware of the following:
- GSI
- Observation Processing codes (specifically prepobs) that decode and encode BUFR data for QC operations in preparation for ingest in the GSI
- decoding of incoming data from external sources e.g. WMO and then encoding them for NCEP intern

[2022-01-25 18:54] jack-woollen commented on #78
@aerorahul  I'm not sure what refactored library you're referring to.
There's been so many of them being imagined. The current bufrlib seems
mostly sufficient to handle foreseeable future needs for BUFR processing
within NCEP, especially if the future looks anything like the picture being
painted in this ongoing conversation. Incremental improvements to any
future version of bufrlib will be necess

[2022-01-25 19:30] aerorahul commented on #78
@jack-woollen
I agree this conversation has derailed from consolidating 3 versions 8|4|d to a restructuring/refactoring of the library and its use in the post GSI/obsproc and into the JEDI world.

[2022-01-25 19:45] ADCollard commented on #78
Hi All,

Cory added me to this thread earlier today.

It seems to me there are a number of answered questions about how we should
proceed with NCEPBUFR support and, speaking as an end-user working on the
JEDI/IODA conversion, I think it would be helpful to me to understand the
big picture better.

Would people be amenable to a meeting sometime in the next couple of weeks
to discuss this?

Andrew.

[2022-01-25 19:52] arunchawla-NOAA commented on #78
I agree that a lot of fascinating discussions have been happening in this thread and it will be useful to have a meeting to discuss these. However, to precede that it would be useful to have a few requirements laid out. One requirement is obvious (at least to me) and that is to handle the 4/8/d builds with one source. However, there are probably a lot of requirements from the JEDI side that would

[2022-02-01 00:27] jbathegit commented on #78
On the main topic of consolidating the 4/8/d builds into one, I've put some more effort into this, and I've figured out a Fortran solution that's based on the example shown above, but which doesn't require pre-processing and instead just keeps the main body encapsulated in the module as a separate, private subroutine.  See https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/onebuild/src/writsa.f90 for

[2022-02-01 01:53] jbathegit commented on #78
Some more details on the aforementioned `bufr_interface.f90` issue.  Here's how it tries to call `ufbint` via a wrapper:

[code]
so I initially set up the new ufbint.f90 with an internal ufbint_4_d interface similar to the above [writsa.f90](https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/onebuild/src/writsa.f90) (since c_int is equivalent to a 4-byte integer) and added the corresponding `use <modu

[2022-02-01 02:14] kgerheiser commented on #78
Is it an issue with calling the generic interface (`ufbint`)? I have found that calling the specific function manually will give better hint at what the actual mismatch is because the compiler knows what the arguments are supposed to be, other than "it doesn't match one of these preset lists exactly".

[2022-02-01 14:27] rmclaren commented on #78
In your second example, why is `str` not `character(kind=c_char, len=1), intent(in) :: str`? You need to be careful because C strings and Fortran strings aren't represented the same way in memory (they aren't compatible).  This is why I made the `c_f_string` function (to convert between them). Also, do you need to do something like `use subroutine_ufbint` since the interface is defined within a mo

[2022-02-01 20:01] jbathegit commented on #78
Thanks for the replies @kgerheiser and @rmclaren.  Yes, I had been including `use subroutine_ufbint` inside of `bufr_interface.f90`, but now I'm wondering if that may not have really been needed.  Either way, I started trying out some of the suggestions, but WCOSS2 access has been down for the past couple of hours so progress is halted for now.  Once it's back up I'll run some more tests, includin

[2022-02-01 21:14] jbathegit commented on #182
Hi @kgerheiser, this relates back to issue #123 from last year where there was a lot of discussion about ways to do this, including my reply on March 23rd where the line length detail was specifically mentioned.

Bottom line, I implemented the best solution I could come up with and which (I thought? ;-) everyone was happy with at the time, but I'm amenable to changing it again now if you have an i

[2022-02-01 21:32] jbathegit opened #184 "differences in Doxygen output between v1.8.5 and v1.8.14"
The [current documentation for this library](https://noaa-emc.github.io/NCEPLIBS-bufr/index.html) is built on WCOSS1 using Doxygen v1.8.5.  But as I'm transitioning over to WCOSS2, which has Doxygen v1.8.14 installed, I'm noticing some unexpected differences.

For an example, compare https://emc.ncep.noaa.gov/emc/pages/infrastructure/bufrlib_jeff/html_mars/ufbint_8f.html (built on WCOSS1 with v1.8

[2022-02-01 21:41] kgerheiser commented on #182
Just spitballing here, but the only other way I see to handle the master tables are to somehow embed them directly in the program as a Fortran array. The build system could convert the tables, or it could be tracked directly in Git and manually updated whenever there's a change to the table.

But that's an involved process. I think just passing `-ffree-line-length-none` is the immediate solution t

[2022-02-02 00:31] kgerheiser commented on #184
That is curious. I tried to search the cause of this, but couldn't find anything. I agree, it's nice how the first one is formatted with the references.

[2022-02-02 16:26] kgerheiser opened #186 "Python tests failing in CI"
All the Python tests fail in the CI.

[code]

Also this a bit further up:

[code]

Not sure why the change, but it seems that ncepbufr is not in the PYTHONPATH.

[2022-02-02 16:45] jbathegit commented on #186
FWIW, there are also a lot of other warnings showing up in the python build step.  I found 81 hits when searching for `warning` in the build step for ubuntu-20.0.4, gcc-10, gfortran-10, and all of them are related to the python builds.

Those warnings may or may not be related to this particular failure, but I think they should definitely be looked at and cleaned up at some point.  One of the gene

[2022-02-02 16:50] jbathegit commented on #186
BTW, #135 is still open and may also be related.

[2022-02-02 17:32] edwardhartnett commented on #184
I am using references and referenced by everywhere with 1.8.16 and that seems to work fine.

[2022-02-02 18:02] jbathegit commented on #184
@edwardhartnett where do you have access to Doxygen 1.8.16?

I'm now wondering if maybe there's something missing or misconfigured in the installation of 1.8.14 on WCOSS2, b/c otherwise I can't imagine someone else in the wider user community wouldn't have noticed this by now if it were an issue with Doxygen itself.

[2022-02-02 19:06] edwardhartnett commented on #184
My ubuntu system has doxygen 9.1, but I installed 1.8.17/18 for testing a bug that came up recently. I believe 1.8.17 is what is provided when we build on GitHub actions - are you doing that?

[2022-02-02 19:08] kgerheiser commented on #184
On my local machine with Doxygen 1.9.2 the output looks like this:

<img width="1051" alt="Screen Shot 2022-02-02 at 13 05 55" src="https://user-images.githubusercontent.com/3209794/152221108-13b2bf93-0862-4521-b580-0bb6df4c3313.png">

It has the references, but not referenced by.

[2022-02-02 19:22] jbathegit commented on #184
I've just been using whatever version of Doxygen is provided on the machines where I've been doing my own testing, so basically WCOSS1 and WCOSS2.  I haven't tried looking at any of the docs generated from GitHub actions, so maybe that's an option.  However, that would also mean that I can't test Doxygen-related changes or updates without first pushing a commit up to GitHub.

[2022-02-02 19:26] jbathegit commented on #184
Interesting that 1.8.16 seems to have both references and referenced by, but 1.9.2 seems to be missing the latter.  Not sure what to make of that.

What about the automatic links to referenced subprograms (e.g. openbf(), ufbseq(), readlc()) within the discussion text - do you see those being generated in your output, like what's shown in my above 1.8.5 example of ufbint from WCOSS1?

[2022-02-03 18:40] rmclaren opened #187 "NCEPLIB-bufr crashes on WMO-formated BUFR file for Radar VAD-winds."
Greg Thompson reported an issue with a WMO BUFR file ([test.BUFR.gz](https://github.com/NOAA-EMC/NCEPLIBS-bufr/files/7997146/test.BUFR.gz)). According to Greg the data in the file is "WMO-format BUFR file of Radar VAD-winds".

I tried it and found that the problem happens when you load the file and then attempt to call `ireadmg` the first time. You get the following error message:

[code]

Here is

[2022-02-03 23:47] jbathegit commented on #187
The problem here is in the BUFR file itself - when unzipped it's only 76 bytes long and contains a malformed Section 3, which you can see if you use `debufr -b`:

[code]
Specifically, the 7th descriptor `103000` is a delayed-replication descriptor which says there are 3 more descriptors following beyond the `031001`, which itself is the indicator for 8-bit delayed-replication (i.e. up to 255 repli

[2022-02-04 19:45] #187 closed, assigned to nobody

[2022-02-04 20:11] jbathegit commented on #186
Digging further, I'm also seeing:

[code]
and:

[code]
But again, I'm not really sure what I'm looking for here.

@aerorahul @jswhit2 @edwardhartnett could I ask one of you to please take a look at this?  As noted in #185, this was all working fine back in November when I released v11.6.0, and which is the last time anybody tried to do a merge to the `develop` branch.

[2022-02-04 20:17] kgerheiser commented on #186
Yeah, this is a little out of my Python knowledge. The offending code is in the Python CMake here:

https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/3f2e10bdfa3c6ef179e9e0e9ffb03287b3eba31a/python/CMakeLists.txt#L21

My guess is the Python version was updated in the Github runner.

[2022-02-04 23:42] jbathegit commented on #78
So here's where I'm at right now...

in bufr_interface.f90:
[code]
where right now I'm just trying to get it to connect directly with the ufbint_isoc subroutine, never mind trying to go through the generic `ufbint` interface reference.

in ufbint.f90:
[code]
where ufbint_body is the same code as the existing ufbint.f.

But here's the compiler error I'm seeing:
[code]
and I see this regardless of w

[2022-02-07 16:00] rmclaren commented on #78
What does ufbint_body look like? What branch are you working from (is your code checked in?)

[2022-02-07 16:08] rmclaren commented on #78
Your passing a fortran pointer as a real(c_double) (when you call ufbint_isoc). Why not just call ufbint_body directly (why do you need ufbint_isoc)... The code in this function seems uneccessary.

[2022-02-07 16:11] rmclaren commented on #78
What happens when you do this?

[code]

[2022-02-07 16:32] jbathegit commented on #78
@rmclaren I've been working in the `onebuild` branch, and I'd just pushed up a commit containing my latest code (see https://github.com/NOAA-EMC/NCEPLIBS-bufr/tree/onebuild) when I saw your two most-recent posts.

I can try calling `ufbint_body` directly, but the idea was to encapsulate that as private within the module and only expose the `ufbint` reference as public, which is why I was trying to

[2022-02-07 16:42] rmclaren commented on #78
my suggestion above should be equivalent to calling you `ufbint_d` (I didn't check if thats what you called it). So you could just call that overload directly instean of ufbint_body.

[2022-02-07 18:04] jbathegit commented on #78
Thanks for the suggestions @rmclaren, but no matter whether I call either `ufbint_body` or `ufbint_4_d` directly from `ufbint_c`, I'm still getting the same compiler error as above.  It's just that now the error is occurring during the compilation of bufr_interface.f90, rather than during the compilation of ufbint.f90.

[2022-02-08 05:40] rmclaren commented on #78
try making the line `real(c_double), pointer, intent(inout) :: usr` ->  `real(c_double), pointer, intent(inout) :: usr(:)` in ufbint_isoc

[2022-02-08 16:43] edwardhartnett commented on #78
Is the goal here to make a C API around the Fortran API?

[2022-02-08 17:13] climbfuji opened #188 "Patch for adding `-c` to `ranlib` flags must not be applied when using `llvm-ranlib`"
Trying to build `develop` or release `11.5.0` on macOS with LLVM clang + gfortran:
[code]
In CMakeLists.txt:
[code]
I tested this with different `clang` versions. The native Apple clang requires the `-c` flag, otherwise the linker step fails with undefined symbols. The LLVM clang ranlib (`llvm-ranlib`) doesn't understand the `-c` flag and doesn't need it.

[2022-02-08 17:32] jbathegit commented on #78
@rmclaren thanks, but using the `real(c_double), pointer, intent(inout) :: usr(:)` syntax inside of `ufbint_isoc` didn't help either, and in fact generated a second compiler error in addition to the previous one:

[code]

That said, and after a lot of proverbial blood, sweat and tears, I think I found an alternate approach using `ufbint_body` that will work, and which I'll push up in a bit so all

[2022-02-08 17:40] jbathegit commented on #78
@edwardhartnett yes, the goal here is to have a clean C API around this particular Fortran API for the `ufbint` subroutine.  This is one of the most important subroutines in the entire library, and there are C codes which now call it directly using the UNDERSCORE paradigm, which we've agreed we want to try to get rid of and thereby modernize the code.

So as I'm working to consolidate all of the s

[2022-02-08 19:36] jbathegit commented on #78
I just pushed up another commit to the `onebuild` branch.  It handles all of the various Fortran interfaces for `ufbint` through a new module (just like for `writsa` as noted earlier in this thread), and including for some additional interfaces when `ufbint` is called with just a 1-d vector array or even just a scalar as argument usr.  There are numerous existing application codes which do that, a

[2022-02-08 19:52] jbathegit commented on #186
It looks like we now have another PR #189 (in addition to PR #185) that we can't merge into the `develop` branch because of this issue.  We'd really appreciate if @aerorahul @jswhit2 @edwardhartnett or anyone more knowledgeable about Python could please look into how to resolve this.

[2022-02-17 16:45] ShelleyMelchior-NOAA commented on #141
Thanks for this tip. The work-around as @jbathegit advised works for me for binv and sinv. One other note, however, the prod_envir variables $DCOMROOT and $COMROOT are not recognized when you provide a valid path and bufr file. You must expand those environment variables.

**Doesn't work:**
[code]

**Works:**
[code]

[2022-02-17 23:37] jbathegit commented on #186
Since nobody else has been able/willing to step up and help, I went snooping on the Internet for some possible solutions.  (I think?) I made some progress, but still not there yet.  Please see #190 and my branch `bugfix/python-builds` for what I've come up with so far.

This is way above my level of knowledge w.r.t. python, so I'm not sure I'm even on the right track here, but then again I also do

[2022-02-18 00:35] jswhit2 commented on #186
sorry for not contributing to this, but I don't know what the right way to handle python package installations in cmake is.

[2022-02-18 01:03] kgerheiser commented on #186
There is a simple fix. `ncepbufr` can't be found because it's not in the `PYTHONPATH`. On my local machine I was able to get the tests to run by `export PYTHONPATH=<prefix>/install/lib/python3.8/site-packages/py_ncepbufr-11.6.0-py3.8-macosx-11.0-x86_64.egg`. I have to figure out how that translates to the Github runner.

There are deeper issues about how the Python bindings are handled, but if Pyt

[2022-02-18 13:59] edwardhartnett commented on #186
This is actually a suprisingly difficult problem on python projects, and I have run into it before.

The usual answer I have seen is to install the package with a command like:

`pip -e install .
`
But if you have something else that works, that's fine too.

[2022-02-18 14:32] aerorahul commented on #186
I'll take a look at it today.

[2022-02-18 14:36] kgerheiser commented on #186
I was able to get the tests running by manually setting `PYTHONPATH` https://github.com/NOAA-EMC/NCEPLIBS-bufr/pull/191

But I think there's a better way of doing it.

[2022-02-18 15:11] aerorahul commented on #186
The tests are passing for me on my mac with `develop`.
There is something not quite right setup in the CI it would appear.  I will continue investigating.
![Screen Shot 2022-02-18 at 10 10 55 AM](https://user-images.githubusercontent.com/11394126/154709152-e43688d9-1a73-481a-9cd4-8139a06ade1f.png)

[2022-03-01 21:14] jbathegit commented on #186
Hey @aerorahul, just wanted to touch base.  Have you been able to make any progress on this?

[2022-03-01 21:19] aerorahul commented on #186
I have failed to reproduce this on my mac.  Is this something to do in the github action?

[2022-03-01 21:37] jbathegit commented on #186
Maybe.  But either way, it's something that I was hoping I could get some help with from someone more knowledgeable than me.

[2022-03-03 19:26] jbathegit commented on #186
Whatever the problem is, it's definitely in the GitHub runner.  So even if you can't reproduce it on your local machine, you can still see it if you try pushing it to GitHub.

An example is #191 that @kgerheiser tried a couple of weeks ago.  It apparently worked when he tested it manually, but the GitHub runner checks for that PR still failed.

[2022-03-22 18:52] jbathegit opened #195 "allow encoding and decoding of values larger than 32 bits"
It's possible for the library to be asked to encode and decode values which occupy more than 32 bits.  An example of this is the WMO standard Table D BUFR sequence 3-15-010, where an operator is used to encode the constituent Table B BUFR descriptor 0-22-069 (spectral wave density) with 38 bits.

Currently, the only way to encode and decode such a value is by using the _8 build build of the librar

[2022-03-22 22:14] jbathegit commented on #195
After further investigation, the main internal variable that would need to be declared as an 8-byte integer, for both encoding and decoding, is array IVAL within moda_ival.F.  However, we'd then need to correspondingly declare the following additional internal variables as 8-byte integers as well, since they interact directly with IVAL:

- NVAL and INT within upbb.f
- statement function MPS within

[2022-03-22 22:47] jbathegit opened #196 "fix test_wrapper_IN script to catch segfaults"
This was discovered by accident, but it turns out the existing test_wrapper_IN.sh script doesn't properly catch cases where the underlying test code segfaults or otherwise fails to run to completion.  Instead, it only does a grep of the test code output diagnostics for the string 'FAILED', and if it doesn't find any then it considers the test to be successful.  So the problem is that, if the test

[2022-03-24 17:49] rmclaren commented on #125
So [feature/query](https://github.com/rmclaren/NCEPLIBS-bufr/tree/feature/query) branch is Fortran 90 implementation of the queries which were originally proposed in the following presentation [BUFR Refactoring](https://docs.google.com/presentation/d/1dhN64n7EVixn7mYqPBOtGrfKKnB_GvkJQbWz5HZ4IpI/edit#slide=id.gc973fce875_0_8).

_How it works in a nutshell (if you're interested):_
Basically the user

[2022-03-25 21:44] jbathegit commented on #186
Just checking in - any progress on this?

[2022-04-04 21:35] jbathegit opened #200 "clean up warnings in python build step"
I found 80+ hits when searching for "warning" in the build step for ubuntu-20.0.4, gcc-10, gfortran-10, and all of them are related to the python builds.

These should definitely be looked at and cleaned up at some point, because one of the general rules that was agreed for our NCEPLIBS packages was that everything should compile without any warnings.

[2022-04-04 21:36] #186 closed, assigned to nobody

[2022-04-04 22:01] #188 closed, assigned to nobody

[2022-04-04 22:16] edwardhartnett commented on #200
Who contributed the python code? They need to immediately clear these warnings.

The EMC requirements for operational software include that all software must build without warning. This is a very reasonable rule.

We need to add a CI test which fails is any warnings are present, and then bring the code up to that standard. That way, future contributions of code will fail CI if they add warnings.

[2022-04-05 14:50] jbathegit commented on #200
AFAIK, the python code was contributed by Jeff Whitaker working with Rahul.

[2022-04-05 15:12] edwardhartnett commented on #200
@jswhit and @aerorahul can you guys clear up the warnings in your python code?

[2022-04-05 15:59] aerorahul commented on #200
On my macOS with GCC10, I performed a
[code]
and this was the result:

[code]

There are warnings, I agree.

Some of these warnings are benign and not really worth digging.
Some of the warnings are something neither @jswhit nor @aerorahul would be able to resolve without an overwhelming amount of time and effort.  They are a result of the use of `f2py`, and personally, I have no idea how to deciph

[2022-04-05 16:26] #182 closed, assigned to nobody

[2022-04-05 21:44] #196 closed, assigned to jbathegit

[2022-04-13 14:25] jack-woollen opened #201 "bufr_interface.f90 won't build on orion"
/work/noaa/da/jwoollen/jwfork/NCEPLIBS-bufr/src/bufr_interface.f90:413.11:

  allocate(jmpb_f, source=jmpb)
           1
Error: Array specification required in ALLOCATE statement at (1)
/work/noaa/da/jwoollen/jwfork/NCEPLIBS-bufr/src/bufr_interface.f90:393.11:

  allocate(tag_f, source=tag)
           1
Error: Array specification required in ALLOCATE statement at (1)
/work/noaa/da/jwoollen/jwfork/

[2022-04-13 17:01] rmclaren commented on #201
Which compiler is being used.

Its most likely they are using a really old version of Fortran. Do we need to modify the code to accommodate that? What is the minimum version of Fortran that NCEPLIB-BUFR supports?

[2022-04-13 17:39] rmclaren commented on #201
So I just pushed a new branch that should work better with old versions of fortran (**feature/orion_fix**). Could someone try it out on Orion under the offending account and confirm that it solves the problem. If it does I'll issue a PR.

[2022-04-13 17:47] rmclaren commented on #201
Forgot to check in the changes, so just did that. Should be good now (if you jumped in in the last 7 min).

[2022-04-13 18:26] jack-woollen commented on #201
@rmclaren  The compiler cmake uses is GNU/4.8.5. Orion has newer compilers. How does cmake pick the one it uses?

Anyway, the bufrlib did compile on your new branch. But the test didn't.

/work/noaa/da/jwoollen/jwfork/NCEPLIBS-bufr/test/test_c_interface.c: In function ‘test_intrusiveInterface’:
/work/noaa/da/jwoollen/jwfork/NCEPLIBS-bufr/test/test_c_interface.c:165:5: error: ‘for’ loop initial dec

[2022-04-13 18:59] rmclaren commented on #201
Ok, I updated the syntax in the test file so hopefully it will compile now without needing the c99 compiler flag (if you want to do a git pull and try it again)...

Generally cmake will use the compiler that's configured for you're shell environment. So it depends on how the account is configured...

[2022-04-13 19:08] kgerheiser commented on #201
@jack-woollen

CMake picks the compiler using the standard environment variables `CC`, `FC`, `CXX`, or with the CMake variables `CMAKE_C_COMPILER`, `CMAKE_Fortran_COMPILER`, `CMAKE_CXX_COMPILER`. Generally, it's easiest to use the env variables. Or it picks a default one if you don't have that set, usually the system GCC.

[2022-04-13 19:32] jack-woollen commented on #201
@rmclaren @kgerheiser  So, with the default gnu compiler it now compiles the test, but then fails running one of the tests, not sure which one. Moving up to Intel 19.1.2.20200623, it then passes all the tests and completes properly. Just to check, I went back to the original develop branch and tried the intel compiler on that, but no dice, bufr_interface still doesn't compile. So, thanks for makin

[2022-04-18 15:25] #201 closed, assigned to nobody

[2022-04-18 18:40] #91 closed

[2022-04-18 18:40] #141 closed, assigned to jack-woollen

[2022-04-18 23:03] jbathegit opened #203 "remove .x suffix from debufr and xbfmg utilities"
Currently, the debufr and xbfmg utilities are built as executables debufr.x and xbfmg.x.  Instead, the executables should be built without the .x suffixes (i.e., as debufr and xbfmg).  This would make these utilities simpler to find and call from within the install subdirectory, and it would also make them consistent with all of the other utilities which are already built with any .x suffixes.

[2022-04-19 19:20] #203 closed, assigned to jbathegit

[2022-04-20 11:06] wangyutao143 opened #205 "LIB=/path/to/bufrlib.a"
How should LIB be modified in the ./install/install.sh script
LIB=/path/to/bufrlib.a

[2022-04-20 22:42] jbathegit commented on #195
I am re-opening this issue.  After working further on #78, it's become clear that we'll be better off in the long run if we go ahead and migrate all of the various builds down to _4 or _d after all, rather than _8.

As noted in the discussion for #78, most application codes are likely already coded with 4-byte integers and linking to either the current _4 or _d build, so if we build the consolidat

[2022-04-21 19:01] jbathegit commented on #195
Well, that didn't take long for me to hit a potential snag ;-)

Currently, subroutine PKB will abort if we try to pack an integer larger than 32 bits into a array of 4-byte integers.  In such cases, NBITS will be larger than NBITW, so we can't pack an integer larger than 32 bits in the _4 or _d variations of the library.

@jack-woollen is there any way that subroutine PKB can be modified to allow

[2022-04-22 02:55] jack-woollen commented on #195
How about a pass through in pkb to handle the 8 byte case. So instead of jumping to 900 when nbits > nbitw, call pkb8 instead. Also need irev8. Something similar for upbb. Maybe a few others.

[2022-04-22 06:01] jack-woollen commented on #195
Another way. If nbits>32, enter an if block which calls pkb recursively, twice, once for each of the two 4 byte words contained in 8 byte nval, high order part first, using the appropriate nbits for each part. Then return.

[2022-04-22 13:41] jbathegit commented on #195
Thanks Jack.  Off the top of my head, the second option sounds better to me, because that way it's less additional subroutines and functions we have to document and maintain going forward.  I think it would be better in the long run if everything can be handled directly inside of pkb, using recursion where needed.

I'll wait to hear back from you before proceeding any further on this.  Just an FYI

[2022-04-22 14:06] jack-woollen commented on #195
Okay, I'll work up a prototype for option 2 in the mean time. Have a good trip!

[2022-04-26 18:46] jack-woollen commented on #195
@jbathegit I have a prototype one build system which passes all the current tests. We need to make some more tests and try to break it! Its now sitting in the same fork as the PR came from. It took three new subroutines and a handful (or two) of other changes. I was thinking of putting it in a branch off develop from the NOAA-EMC/NCEPLIBS-bufr repository to work with it. Maybe replace the one buil

[2022-04-29 22:06] jbathegit commented on #195
Thanks @jack-woollen, and I'd definitely like to take a look at what you've come up with, though I'm not sure what/where you meant by "in the same fork as the PR came from", so I wasn't sure where to look.

For now, could you please put your changes in a new branch off of the develop branch?  I'd rather leave the existing onebuild branch as is until we're sure we won't need it any more.

[2022-04-30 09:22] jack-woollen commented on #195
@jbathegit  Made branch jw1build with the changes. How do I run a test build on for this on github?

[2022-05-02 19:41] rmclaren opened #206 "Need to tag a new release version of NCEPLIB-bufr (maybe bufr_v11.7.0)"
In order to make it practical to release the BUFR querying functions for ioda-converters we will need a new numbered tag for NCEPLIB-bufr. This feature depends on the latest additions to the NCEPLIB-bufr c interface which are not present in the most recent tag that is available. The tag number is used to manage the dependencies that ioda-converters is dependent on in the production environment.

[2022-05-05 21:03] jbathegit commented on #195
Thanks Jack for all of your work on this!  I'm sorry I couldn't get back to you sooner, but this has been a crazy week for me.
 Overall, your `jw1build` branch looks pretty good, but I do have a few questions as noted below.

First of all, and as an aside, I think you and I may have slightly different ideas of what we mean when we say "onebuild" or "1build" ;-)  In my case, I was using it to refer

[2022-05-05 21:37] #125 closed

[2022-05-05 21:56] jbathegit opened #207 "add new version 38 updates to WMO master BUFR table"
WMO releases new versions of their master BUFR table every 6 months, and these in turn need to be reflected in updates to the tables subdirectory of the NCEPLIBS-bufr project so that the software can read any BUFR message encoded using the new version of the table. The next version of the WMO master BUFR table will be version 38, effective May 15th, 2022, so we'll need corresponding new NCEPLIBS-b

[2022-05-05 22:14] jbathegit opened #208 "fix DEBUG flags"
Currently, building the library using the `-DCMAKE_BUILD_TYPE=Debug` option generates a result that doesn't work with several interactive debuggers, including gdb.  Upon further investigation, it appears that several compiler flags aren't being properly set which are needed to generate symbol tables, and which in turn would allow a debugger session to interactively step through the code.

[2022-05-06 12:26] jack-woollen commented on #195
I'll start with specific questions about enabling >32 bit elements:

The atepak is just a prototype version of the new subroutines bundled for convenience in debugging. The 'extra' ones helped debugging. I'll dress up pk8, up8, and upb8 properly for a pr and lose the others.

I added a print statement in bort because the output from testing the branch in the repo evidently doesn't include stderr o

[2022-05-06 15:34] jbathegit commented on #195
When you're testing locally on a machine using ctest, any bort messages should show up in your build/Testing/Temporary directory, within the file LastTest.log.  They do for me, at least.

You can also manually re-test any of the test codes that were automatically built if you go to the build/test directory and then manually run the corresponding test executable from the command line.  In other wor

[2022-05-06 16:41] jbathegit commented on #208
DEBUG flags for the C compiler need to be updated to match those already in place for the Fortran compiler.  A PR will be submitted shortly.

[2022-05-06 16:46] jack-woollen commented on #195
Yeah, its a big lift to make the bufrlib routines insensitive to argument kinds. Having looked at it in some detail myself, and seeing what you have been doing in the onebuild branch, I decided its way more trouble than its worth. Any code currently compiled with integer(8) will only have to define integer arguments to unified bufrlib routines as integer(4). Since there are relatively few codes li

[2022-05-06 20:24] #208 closed, assigned to jbathegit

[2022-05-09 16:37] jbathegit commented on #205
Hello!  Where in your build are you seeing a ./install/install.sh script?  AFAIK there shouldn't be any such file in the distribution package, nor should one be generated during the automated build process.

Instead, the library should be installed automatically during the `make install` step, into whatever path you defined via the `-DCMAKE_INSTALL_PREFIX` flag during the previous `cmake` step.

[2022-05-10 03:24] wangyutao143 commented on #205
Dear Jeff Ator,

Thank you for your help，I have analyzed the file of ground and upper level (please see the attachments for the analyzed results), and now I have some further questions according these results.

1.&nbsp; &nbsp; What do those abbreviations mean in rec type (sfcshp, adpsfc, etc.) as well as obs type (LCMAN, TIDEG, etc.)? It would be best if you could provide me with a table about the

[2022-05-12 19:41] #207 closed, assigned to jbathegit

[2022-05-12 21:07] jbathegit commented on #205
First of all, I didn't see any attachments (unless I missed something).

But more significantly, your questions have more to do with the contents of one or more specific NCEP BUFR files, rather than concerns about the NCEPLIBS-bufr library itself.  This forum is for questions/concerns about the library, not for questions about specific NCEP BUFR files.  So you may instead want to contact some of m

[2022-05-12 21:07] #205 closed, assigned to nobody

[2022-05-13 05:48] wangyutao143 commented on #205
I don't know how to use&nbsp;ds351.0 and ds461.0 data
I provided the attachment again

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "NOAA-EMC/NCEPLIBS-bufr"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月13日

[2022-05-13 11:43] jack-woollen opened #211 "some missing code figures for T29 in local table and getcfmng.f not working for TYP=x NCNW=2"
@jbathegit See below, what I get dumping T29 codes from prepbufr. Notice codes 524,525,526 are missing.
Also I don't think getcfmng is working for TYP codes even given NCNW qualifiers. I made a test code to check this on hera.
See hera:/scratch1/NCEPDEV/global/Jack.Woollen/typtest/maketyp.

 11   80865   Fixed land RAOB and PIBAL by block and station number
 22     126   Ship RAOB with name
 31

[2022-05-13 14:50] jbathegit commented on #211
I don't have an account on hera.  Could you put a copy of your test code somewhere on WCOSS or WCOSS2 so I can take a look at it there?

[2022-05-13 15:10] jbathegit commented on #195
Hey Jack, just touching base to clarify where we are on this.  Maybe I misunderstood, but are you still working on this?

Specifically, are you still working on changes to the library so that values larger than 32 bits can be encoded and decoded for all _4, _8, and _d builds?  As noted earlier, I see that as an important piece of the larger goal to eventually have a single unified build of the lib

[2022-05-13 17:33] jack-woollen commented on #195
I guess you're thinking we need a one size fits all in all sizes, maybe to ease to code conversion to one build. Maybe it can be done. I'll look in that direction.

[2022-05-13 17:50] jack-woollen commented on #211
I put the test code on wcoss2 in /lfs/h2/emc/global/noscrub/Jack.Woollen/typtest script maketyp. Thanks for looking at it.

[2022-05-13 19:15] jbathegit commented on #195
Yes, as I noted earlier, I think the most sensible first step is to get the library to a state where each of the IN and OUT test application codes can be compiled and tested using each of the _4, _8 and _d variations.

As you know, several of those codes (such as test_OUT_6) now explicitly require linking with the _8 build of the library in order to test successfully.  Since the long-term goal is

[2022-05-13 22:07] jbathegit commented on #211
There do seem to be some missing entries for T29 within bufrtab.CodeFlag_LOC_0_7_1, including the more recent entries in the 524-530 range.  I probably just need to regenerate that table from the database and then push it up to the repository.  However, I can't do that until Monday at the earliest, b/c I'm still waiting on the NCO folks to restore network access to my emc-lw7-jator workstation, wh

[2022-05-13 22:27] jack-woollen commented on #195
The jw1build branch now passes all tests, and works with all size builds.

[2022-05-16 19:42] jack-woollen commented on #195
@jbathegit New branch jw64ints was started from develop, has just the encode/decode stuff from jw1build, and all subroutines separated and doc blocked. It passes all the tests including test_OUT_6_8. I was thinking of adding a test to see if it actually will store an element >32 bits. Any particulars you want to see before I make a PR?

[2022-05-17 17:21] jbathegit commented on #195
Thanks Jack!

At the moment, I'm focusing on getting all of the recent commits to the `develop` branch bundled up into a new 11.7.0 release, as requested by Ron McLaren in #206.  As soon as that's done, I'll take a deep dive into your latest branch and then be ready to discuss moving forward with that as part of the next future release.  Just give me another day or two ;-)

[2022-05-17 19:39] #211 closed, assigned to jbathegit

[2022-05-17 23:37] jbathegit commented on #206
What needs to be done:

- increment number in VERSION file
- update release notes, in both GitHub and in ReleaseNotes.md
- generate docs and update gh-pages branch with the new html
- create a new hpc-stack issue to incorporate this new version

[2022-05-19 07:16] AdyDth opened #214 "some errors when i wrote gpsrobufr file"
It's succeed when i read gpsbufr using write_gps.py,but when wrote ROSEQ1 and ROSEQ3 to gpsbufr file ,it had errors as following,i checked my gpsbufr.table , it was  right , and all tests are passed. i am so sorry i don't konw how to deal with such a  error, are there any requirments for python version? i used python3.7.1, or other reason. thank you  very much.

BUFRLIB: UFBSEQ - NO SPECIFIED VALU

[2022-05-19 17:11] jbathegit commented on #206
I just released the new v11.7.0.  I'll open up an hpc-stack issue to have it built on all relevant NCEP systems.

[2022-05-19 17:11] #206 closed, assigned to jbathegit

[2022-05-24 14:46] jbathegit commented on #195
Thanks again Jack for your efforts on this!  The 11.7.0 release is now done, and I've managed to clear some other tasks off my docket, so I'll be taking some time today to look over your new `jw64ints` branch.

A couple of initial thoughts/comments:
1. test_OUT_6 already tests the storing (encoding) of an element > 32 bits.  I think what we really need is a new test code which reads (decodes) such

[2022-05-24 16:25] jack-woollen commented on #195
Jeff, sure thing. I agree with all that. I did move in that direction by expanding the out_6 test to both 4 and 8 byte builds, and it passes both. And, the more tests the better of course. I'll expand the other tests too and see what happens.

[2022-05-24 16:43] jack-woollen commented on #195
FWIW, jw64ints passed all 4 and 8 byte IN and OUT tests.

[2022-05-24 16:58] jbathegit commented on #195
Awesome Jack!  To seal the deal, could you maybe try adding _d tests as well?  That would cover all the proverbial bases.

In the meantime, a couple of initial questions from looking over your `jwints64` branch:
1. In ipks.f, why are you adding .5 to the calculation for the IPKS variable?  Is this to force some sort of rounding behavior?  Instead, why not just replace the use of NINT with IDNINT,

[2022-05-24 17:19] jack-woollen commented on #195
1> adding .5 always does the right thing. NINT, IDNINT, and other similar intrinsic functions do not have standard behavior across compilers regarding word sizes.
2> six of one half dozen of the other. Note this works across all the int sizes and compilers in the cmake tests.

[2022-05-24 17:35] jbathegit commented on #195
Fair enough, but I think we should be consistent and not use different approaches in different routines, which may only lead to confusion down the road.  I personally vote for the NBMP approach as used in rdcmps.f, because I think that's cleaner and clearer.

[2022-05-24 19:33] jack-woollen commented on #195
Ok, I go with simple. So changed that, and added the d tests for the in/out tests, and all passed on orion where I;m working today. But when I pushed up to the remote branch a number of the tests failed to compile in github. I don't understand the errors it is having, For example below. More in the actions window outputs.

/home/runner/work/NCEPLIBS-bufr/NCEPLIBS-bufr/bufr/test/test_IN_1.f:122:18:

[2022-05-24 21:02] jbathegit commented on #195
Hmm, that's weird.  I'll take a look.

[2022-05-24 23:20] jbathegit commented on #195
Jack, what compiler were you using on orion?  Just curious b/c I don't have any problems with the Intel compiler on WCOSS2.  The error seems to show up with the gfortan9 (gnu) compiler, so again just curious what compiler you were using which worked fine on orion?

[2022-05-24 23:52] jack-woollen commented on #195
Intel 2020.2 on orion. What I thought was weird is the error makes no sense. The argument to idnint is real(8).

[2022-05-25 13:18] jbathegit commented on #195
Yeah, I agree this is a head-scratcher.  I'll dig some more.

[2022-05-26 13:26] jbathegit commented on #195
I was able to reproduce the error on WCOSS2 using the gcc/11.2.0 (gnu) module.  I researched and played around with some different suggested options, and eventually I was able to resolve it by changing all of the IDNINT references to NINT, which apparently is now a more generic option for multiple input types, including complex variables.  This change also still works for Intel (I did check ;-)

I

[2022-05-27 15:13] jack-woollen commented on #195
Great! Which branch will you push the modified tests into?

[2022-05-27 15:27] jbathegit commented on #195
I can plan to just push everything up on top of your existing `jw64ints` branch, if that's OK with you?

Some of this is ready to go, but I just haven't finished it all up yet b/c I keep getting sidetracked by other issues related to the WCOSS2 30-day test.  I'll keep you posted...

[2022-05-27 17:23] jack-woollen commented on #195
Yup, that's fine.

[2022-05-27 21:26] jbathegit commented on #195
I just pushed up a commit which includes everything except the new IN test, which I just ran out of time/steam to finish up today after dealing with a bunch of other stuff.  But I figured this way you could at least look over my other updates in the meantime and let me know if you have any questions or concerns.  I'll try to get the new IN test added on Tuesday, and then we can be done with this i

[2022-05-31 10:53] #214 closed, assigned to nobody

[2022-06-01 13:52] jack-woollen commented on #195
Looks good. I reviewed the changes and only two I don't understand.

diff --git a/src/up8.f b/src/up8.f
-C> USAGE:    CALL UP8 (NVAL, NBITS, IBAY, IBIT)
+C> USAGE:    CALL UPB (NVAL, NBITS, IBAY, IBIT)

diff --git a/src/upb8.f b/src/upb8.f
-C> USAGE:    CALL UPB8 (NVAL, NBITS, IBIT, IBAY)
+C> USAGE:    CALL UPBB (NVAL, NBITS, IBIT, IBAY)

[2022-06-01 14:00] jbathegit commented on #195
I agree the USAGE statements should reference UP8 and UPB8, rather than UPB and UPBB.  But they already are referencing the correct names, at least as I see it in the latest commit and in my clone copy on WCOSS2.  Are you sure you're displaying your diff output in the correct order (previous vs. latest, rather than latest vs. previous)?

Or am I missing something here?

[2022-06-01 14:15] jack-woollen commented on #195
Actually, that's right, I was looking at the last two commits in the wrong order. Sorry.

[2022-06-01 14:20] jbathegit commented on #195
No worries.

BTW, I'm working on the new test code as we speak.  It will have a test for reading values larger than 32 bits, but I'm also going to add in some additional tests for other subprograms that aren't already being tested in any of the other codes.  I figured I might as well, since I'm already standing up a new test code anyway.  Will keep you posted...

[2022-06-01 14:43] jack-woollen commented on #195
When the comparison is reversed your changes are much clearer. Duh. Good idea to have more tests.

[2022-06-04 12:42] jack-woollen commented on #195
When the comparison is reversed your changes are much clearer. Duh. Good idea to have more tests.

[2022-06-04 21:53] #195 closed, assigned to jbathegit

[2022-06-23 21:13] jbathegit opened #218 "streamline use of modv modules"
Now that all user-configurable arrays within the library are dynamically allocated by default (re: #77), then we no longer need to include `use modv_*` statements within all of the moda* array definition modules.  Instead, we can simplify the overall library design and reduce the overall number of source and preprocessor code lines by moving these `use modv_*` statements directly into any subprogr

[2022-06-27 16:26] #218 closed, assigned to jbathegit

[2022-06-27 16:46] jbathegit opened #220 "clean up bufrlib.pyf"
There are a lot of declarations in python/_bufrlib.pyf that aren't needed, and which in fact are downright misleading given that most of the referenced arrays are now dynamically allocated, rather than being fixed sizes at compile time.  Furthermore, entries are only needed in this file for subprograms which are actually called by the python codes and utilities, and not for every last subprogram i

[2022-07-05 19:44] #220 closed, assigned to jbathegit

[2022-07-28 00:11] kgerheiser opened #223 "C tests need to link to -lm explicitly"
I get this error when compiling Bufr with `-DBUILD_SHARED_LIBS=ON` using Ubuntu 20.04 and GCC 10.3.0 in a Docker container.

[code]

`test_c_interfaces` makes use of the `round()` function from the C math library, but there is no corresponding `-lm`.

https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/6c91c657656dcb89df356134c2756de1ceac4ace/test/test_c_interface_2.c#L48-L59

[2022-07-28 12:49] rmclaren opened #225 "Need some way to get type information on C Interface."
The C interface doesn't have any methods to determine the "type" information for variables. This means that the c/c++ client code needs to assume that all the numeric types are float values when really it is more appropriate to represent them in some other way (int, uint, .... etc).

[2022-08-04 20:44] #223 closed, assigned to nobody

[2022-08-05 22:11] jbathegit commented on #78
@jack-woollen

Since PR #217 is now closed, let's resume that discussion in this issue thread as I suggested yesterday, rather than continuing the discussion in the PR #217 thread.

Overall, I really like the approach you're taking within your new r8wraps branch, and my only suggestions relate to style rather than functionality.  Specifically, and going forward, we're really trying to use Doxygen-

[2022-08-12 21:09] jbathegit opened #226 "Python wrapper for readlc function"
Per an email request from jack.reeveseyre@noaa.gov, who works in NCEP/CPC:

When decoding ASCII data (e.g., station names) there is a mismatch between different python function results:
read_subset() cuts off the output at 8 characters;
print_subset() and dump_subset() produce the full name.
Do you know of a way to get the full result from the read_subset() call?

[2022-08-12 21:13] jbathegit commented on #226
The mismatch, as you put it, is due to the different underlying Fortran routines that read_subset calls, as opposed to those called by print_subset and dump_subset.  More specifically, read_subset uses the underlying routines [ufbint](https://noaa-emc.github.io/NCEPLIBS-bufr/ufbint_8f.html), [ufbseq](https://noaa-emc.github.io/NCEPLIBS-bufr/ufbseq_8f.html), [ufbrep](https://noaa-emc.github.io/NCEP

[2022-08-17 21:42] JackReevesEyre commented on #226
I had a go at writing a python wrapper that solves this. It is very simple and seems to solve the problem in my use case. But I've done only limited testing and exception handling. Anyway, I can provide it for the repository if that would be helpful. Please let me know how to proceed if so -- testing, documentation, pull request etc. And thanks @jbathegit  for looking into it - I couldn't have wor

[2022-08-17 22:28] jbathegit commented on #226
Hi @JackReevesEyre, thanks for the offer, and yes I'd definitely like to take a look at what you have.  I started puttering around with a solution of my own late last week, but it's still in the early stages b/c I was on leave during the first part of this week.  And I'm basically a Python newbie (I'm more of a Fortran and C expert), so I'd definitely appreciate help from someone who's more of an

[2022-08-22 19:01] #225 closed, assigned to nobody

[2022-08-22 20:11] jbathegit opened #227 "new release 11.7.1"
What needs to be done:

- increment number in VERSION file
- update release notes, in both GitHub and in ReleaseNotes.md
- generate docs and update gh-pages branch with the new html

@rmclaren @srherbener just to clarify, and now that PR #222 has been merged, you are requesting this new mini-release, correct?

If so, then I'll work on the above housekeeping tasks and get this released for you.  On

[2022-08-22 20:32] JackReevesEyre commented on #226
Thanks @jbathegit -- I have created a branch in my fork (https://github.com/JackReevesEyre/NCEPLIBS-bufr/tree/jre_py_long_strings). I could do with some help on the pull request from there though. Also, what's the protocol for getting additional testing data added to the zip archive that is downloaded for the test suite? I would need to add a new file there (~ 3 MB).

[2022-08-22 20:40] rmclaren commented on #227
@jbathegit Yes, thanks Jeff! I ran it against my branch that uses the type information.  We will need the tag in order to properly deploy the new version of NCEPLIB-bufr.

[2022-08-22 20:48] srherbener commented on #227
@jbathegit, @rmclaren Thank you for getting this patch (mini-release) tested and prepared! I'm good to go as long as Ron okays it (which it sounds like he has done already).

[2022-08-22 22:15] jbathegit commented on #226
Thanks @JackReevesEyre.  What you have looks pretty good, and I just have a few minor suggestions/quibbles:

- It's up to you, but IMO allowing as many as 120 characters for chr in _bufrlib.pyf is probably overkill.  BUFR isn't efficient at compressing long character strings unless they're identical across all subsets in a BUFR message, so as a result you don't typically see too many really long c

[2022-08-23 21:00] JackReevesEyre commented on #226
I don't need the feature in a release right away, but if it can still get into the mini-release, then great. I've made the changes you suggested on the maximum string length and documentation. (I thought I had seen a character length specification of 120 somewhere in the Fortran code, but I can't find it now so I guess I was mistaken! 64 characters is plenty for my purpose.) I've left the test as

[2022-08-25 17:38] #226 closed, assigned to nobody

[2022-08-25 19:42] jbathegit commented on #184
Since nothing further has transpired on this issue, and since I'm getting ready to do another (mini)release (see #227), I looked into other options.

My office Linux system (emc-lw7-jator) has Doxygen v1.8.5, but it doesn't have CMake 3.15+ installed so I couldn't build NCEPLIBS-bufr there.

After looking into other GFE options, what I ended up doing was just installing Doxygen v1.9.4 in the Cygwi

[2022-08-25 19:44] #184 closed, assigned to nobody

[2022-08-26 12:55] #227 closed, assigned to nobody

[2022-08-26 14:23] jbathegit commented on #183
Effective with today's commit of the documentation for v11.7.1, the `gh-pages` branch now contains a `previous_versions` subdirectory, which in turn contains subdirectories holding copies of the documentation for the previous versions `v11.5.0`, `v11.6.0`, and `v11.7.0`.

I've gone ahead and edited the Release Notes links for each of these previous versions within [the Releases page](https://githu

[2022-08-26 14:59] jbathegit commented on #183
Or, maybe it would be sufficient (and easier to maintain going forward!) if we just added the following line to the second paragraph of `docs/user_guide.md`:

**For access to the full documentation of a prior version of this library, please see our [releases page](https://github.com/NOAA-EMC/NCEPLIBS-bufr/releases), and then scroll down and click on the corresponding "Release Notes" link for that

[2022-08-26 15:25] jbathegit opened #230 "update Python documentation via pdoc"
@aerorahul @jswhit @JackReevesEyre @edwardhartnett do any of you have access to the pdoc utility or know a way to run it?  I'd like to update the Python documentation for this library, because we now have a new read_long_string() wrapper courtesy of Jack's work on #226, and it already includes the proper Markdown syntax for pdoc.  But I don't know how to run pdoc myself, because I can't find it an

[2022-08-29 15:47] JackReevesEyre commented on #230
Didi you manage to sort this @jbathegit ? I am not familiar with the pdoc package. I see that the pdoc web page (https://pdoc.dev/) only mentions pip install, but it also seems to be available on conda-forge (https://anaconda.org/conda-forge/pdoc) if that's preferable. Then running `pdoc /<rest of path>/NCEPLIBS-bufr/python/ncepbufr/` might (?) then create the new html pages equivalent to https://

[2022-08-30 17:57] nicholasesposito opened #231 "NCEPLIBS-bufr ctest will fail with jedi/intel-impi/2020.2 module"
When building NCEPLIBS-bufr with the jedi/intel-impi/2020.2 module, the process will get all the way through. However, running ctest will cause the first 7 tests to fail.

[code]

When we build with gnu (jedi/gnu-openmpi/9.2.0) module, everything builds and all the ctests pass.

The full module load process is below:
[code]

[2022-08-30 18:44] jbathegit commented on #231
Just to clarify, what platform are you seeing this on Nick?  And are you seeing any warnings during the Python build step on this particular platform?  If so, then perhaps it's related to #200 which is still awaiting resolution.

I also wonder if this is somehow related to #135, where we've seen similar behavior on other platforms including the WCOSS, and irrespective of whether or not code covera

[2022-08-30 19:29] climbfuji commented on #231
Can you run the ctests with --verbose --output-on-failure?

Which machine?

[2022-08-30 20:02] nicholasesposito commented on #231
This was performed on Hera.
There were no warnings throughout the ecbuild or make steps.

I ran the ctest with the options above. For test 7, the output was this:
[code]

[2022-08-30 20:15] climbfuji commented on #231
Seems like the location of the `ncepbufr` python module/library is not in your PYTHONPATH.

[2022-08-31 18:45] jbathegit commented on #20
I'm going to close this issue and leave #79 open, since they both cover the same topic.

[2022-08-31 18:46] #20 closed

[2022-08-31 21:54] jbathegit commented on #78
Hi @jack-woollen , just wanted to touch base and see where you were with this.  Have you had any more time to work on this, or do you need/want some help from me to get this knocked out?

Please let me know - thanks!

[2022-09-06 22:10] jbathegit commented on #230
Thanks for the reply @JackReevesEyre.  I did some more reading, and at least on WCOSS2 I made some headway finding pdoc:

[code]
But then, when I tried running it to regenerate the ncepbufr pages, I got the following:

[code]

So I then tried the following, to include the Python bufrlib binding, and to also redirect the output to a directory rather than have it trying to start up a webserver.  But

[2022-09-12 18:11] #183 closed, assigned to jbathegit

[2022-09-13 20:33] jbathegit opened #233 "rename all moda*.F files as moda*.f90"
Since all builds of the library now use dynamic allocation by default (as of v11.6.0+), then the moda*.F files no longer contain any pre-processing code since that time, and therefore these same files no longer need to be run through the pre-processor during the build step.  Renaming these files to moda*.f90 will automatically bypass the pre-processor for these files during the build step.

As a s

[2022-09-13 21:19] edwardhartnett commented on #233
You may wish to save a step and rename them to .F90.

In other NCEPLIBS projects we have renamed all fortran files to *.F90. This
allows us to use the pre-processor anywhere. Using the preprocessor is very
helpful when building portable code. For example if you want to handle
ip-4.0.0 and previous versions of ip, you can set a pre-processor flag in
CMakeLists.txt, and then in your code use an #ifd

[2022-09-15 21:24] jbathegit commented on #78
Per our email discussion, I started working on #79 and made some progress (see the new `upgrade/C-Fortran` branch), but CI testing clearly showed that it will make a lot more sense to finish the work for this issue first, and then proceed with #79 once we're down to just one build of the library which is natively compiled with 4-byte integers.

So I'll pick up where you left off with this issue in

[2022-09-21 08:08] LucaFibbi opened #234 "Error: BUFRLIB: NEMTBD - REPLICATOR IS OUT OF ORDER IN TABLE D SEQUENCE MNEMONIC MSTTB001"
When I decode some BUFR files received through the Global Telecommunication System
 of the WMO using this library (e.g. using the debufr program) I get the error:

 ***********BUFR ARCHIVE LIBRARY ABORT**************
 BUFRLIB: NEMTBD - REPLICATOR IS OUT OF ORDER IN TABLE D SEQUENCE MNEMONIC MSTTB001
 ***********BUFR ARCHIVE LIBRARY ABORT**************

The BUFR code tables used are those present i

[2022-09-27 03:40] jbathegit commented on #78
Hey @jack-woollen just wanted to let you know that I was able to finish the updates noted above for the 40+ routines you had initially started.  I included a new setimb8.f90 routine to set the imb8 value, and I renamed moda_imb8 to modv_imb8 since it's actually a value and not one or more arrays that are being stored there.

I also tweaked how the arguments are defined and passed between the i4 an

[2022-09-27 18:06] jack-woollen commented on #78
Hi Jeff

I pruned the original list a little to where it now has 79 entries of which
I think 43 have been converted, leaving 36 to do. Updated complete list
below.

Jack

atrcpt.f
closbf.f
closmg.f
cnved4.f
copybf.f
copymg.f
copysb.f
cpdxmm.f
cpymem.f
datebf.f
datelen.f
drfini.f
dumpbf.f
dxdump.f
fortran_open.f90
getabdb.f
getcfmng.f
gettagpr.f
gettagre.f
hold4wlc.f
invmrg.f
maxout.f
mesgbc.f
mesg

[2022-09-30 15:48] jbathegit commented on #234
Hello @LucaFibbi, and thank you for reporting this to us!

I took a look at the 3 messages in the bufr.zip file you attached, and it turns out the library is correct that there are errors in the encoding of the messages.  Specifically, if you run debufr with the -b option, it will print out all of the BUFR descriptors in Section 3 without trying to actually decode the data values in Section 4.  Wh

[2022-09-30 17:45] jbathegit commented on #231
Just touching base.

@nicholasesposito has this issue been resolved for you, or are you still waiting on help for this?

[2022-09-30 19:33] jbathegit commented on #78
Some others for the list, just so we don't forget about them:

- fortran_close.f90
- ibfms.f
- icbfms.f
- icopysb.f
- ireadmm.f
- ireadns.f
- ireadsb.f
- iupbs01.f
- iupvs01.f
- iupbs3.f
- pkftbv.f
- pkbs1.f
- rtrcptb.f
- status.f
- strcpt.f
- upftbv.f

There may still be more, but these were the ones that immediately popped up in my head after reading through your initial list.  Basically, the wa

[2022-09-30 19:50] jbathegit commented on #78
On a related note, I don't think that any library subroutine or function which is never intended to be directly called from application codes should be on the list.  Specifically, I noted

- sntbbe.f
- sntbde.f
- sntbfe.f
- stntbia.f

which I don't think should ever be called from outside of the library, and which I therefore don't think should need wrappers.

[2022-09-30 19:57] nicholasesposito commented on #231
I just tried again. I'm still getting the same ctest failures as earlier. There's still the other way of compiling using gnu compiler that works the whole way. @emilyhcliu how much do we want to pursue this since we have the other way of compiling?

[2022-10-17 16:59] #234 closed, assigned to nobody

[2022-10-24 15:45] jbathegit commented on #78
Saving a transcript of recent email discussions into this GitHub issue, for the record...

<html>
<body>
<div class="gE iv gt" style="font-size: 0.875rem; padding: 20px 0px 0px; cursor: auto; color: rgb(34, 34, 34); font-family: &quot;Google Sans&quot;, Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400

[2022-10-24 18:17] jbathegit commented on #78
@jack-woollen I copied a transcript of our recent email discussion to this GitHub issue, so we have a record of it here.  And based on the outcome of that discussion, I also just updated the `r8wraps` branch to use X48 and X84 in all of the routines for which we've already developed I*8 wrappers.  We've still got many more to go, but we're making progress!

Only detail I wanted to point out to you

[2022-10-24 18:23] jack-woollen commented on #78
Jeff

My only question is does it work?

Jack

On Mon, Oct 24, 2022 at 2:17 PM Jeff Ator ***@***.***> wrote:

[2022-10-24 18:31] jbathegit commented on #78
It did when I ran the CI tests for both Intel and Gnu.  The drfini routine is called from within two of the CI test programs (test_OUT_4.f and test_OUT_6.f) in the test subdirectory of the library bundle, and they both passed.

[2022-10-24 18:38] jack-woollen commented on #78
👍👍

On Mon, Oct 24, 2022 at 2:31 PM Jeff Ator ***@***.***> wrote:

[2022-10-24 21:36] jbathegit commented on #78
Hey @jack-woollen, maybe I'm missing something obvious, but from a user perspective what's the difference between copysb and ufbcpy?  I see the former calls the latter for compressed subsets, but for documentation purposes I'd like to better understand why a user would call one vs. the other in the first place?

On a related note, I'd also like to better understand how ufbcup fits into the mix, an

[2022-10-25 14:18] LucaFibbi commented on #234
Hello Jeff,

thank you for the your answer. I apologize for the late in the my answer,
but only now I had the time to do some tests that add more information
to the problem.
I agree with your considerations: the descriptor '031001' is illegal in
any context other than immediately following a '1XX000' descriptor. The
BUFR message shouldn't contain this type of descriptor without a precedent
'1XX000

[2022-10-25 14:23] jack-woollen commented on #78
@Jeff Ator - NOAA Federal ***@***.***>

Wow, you're digging into the olden days with these questions!

Re ufbcpy and copysb, ufbcpy copies the inv and val arrays from one open
subset to another, whereas copysb does the equivalent of readsb and writsb.

Subroutine ufbcup was written to copy elements like ufbcpy does, except it
can copy elements into an output subset that could be a superset of the